@charset "utf-8";

/* intro */
.intro-video .bg{
    z-index: -1;
    position: absolute;
    width:1280px;height:800px;
    background: url("../images/intro/bg.png") no-repeat; 
    /* background: url("../images/intro/guide01.png") no-repeat;  */
}

.intro-video .video-cont
{
    z-index: 1;
}
.intro-video .btn-start
{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    left:1071px;
    top:591px;
    display: none;
}
.ani-btn-start-eff
{
    animation-name: fadeOpacty;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}
.intro-video .btn-start .el
{
    position: absolute;
}

@keyframes fadeOpacty {
    0% {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

