@charset "utf-8";
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:  url(../images/hint_bg.png)
            url(../images/hint_title.png)
            url(../images/hint_close.png) 
            url(../images/pop_temporary.png)
            url(../images/pop_big.png)
            url(../images/pop_delete.png)
            url(../images/pop_select_img.png)
            url(../images/msg_save_complet.png)
            url(../images/msg_save_full.png)            
            url(../images/bogi_01.png)            
            url(../images/bogi_02.png)            
            url(../images/bogi_03.png)
            url(../images/bogi_empty.png);
}