@charset "utf-8";

/* 영어 6학년 3차시 */

/* layout */
.main{
    width:1280px;height:800px;
}


/* intro */
/* .intro-video{width:1280px;height:800px;} */
/* .intro-video video{width:100%;height:100%;} */
.intro-movie{position:absolute;top:0;left:0;width:100%;height:100%}
.intro-movie video{width:100%;height:100%;
    object-fit: cover;
}

/* section */
.section .title{
    position: absolute;
    left: 42px;
    top: 60px;
}
/* ie11  경기천년font 적용된 컨텐츠 top예외처리*/
_:-ms-fullscreen, :root .section .title .text { margin-top:1px !important; }
.section .title .text::before{
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../images/title_ico.png") no-repeat;
}
.section .title .text{
    margin-left: 50px;
    margin-top: 3px;
}
.section .title .text.ko{
    font-family: "GyeonggiTitleM";
    font-size: 35px;
    color: #333;
    letter-spacing: -1.2px;
}


/* reading */
.reading > .bg{
    position: absolute;
    width:1280px;height:800px;
    background: url("../images/reading/intro_bg.png") no-repeat; 
}
#reading_cont{
    position: absolute;
    width:1280px;
    height:800px;
}

#reading_cont .eff-sound{
    pointer-events: none;
    z-index: 1;
    position: absolute;
    left: 14px;
    top: 63px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: white;
    opacity: 0;
    transform: scale(0.5);
}
@keyframes eff-sound {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    25% {
        opacity: 0.5;
        transform: scale(1.025);
    }
    50%
    {
        opacity: 0.8;
        transform: scale(1.05);
    }
    80%
    {
        opacity: 0;
        transform: scale(1.5);
    }
    100%
    {
        opacity: 0;
        transform: scale(1.5);
    }
}
.ani-eff-sound{
    animation-name: eff-sound;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#reading_cont .btn{
    cursor: pointer;
}
#reading_cont .btn-sound{
    position: absolute;
    width:76px;
    height:80px;
    left: 13px;
    top: 61px;
    background: url("../images/reading/reading_btn_sound.png") no-repeat;
}
#reading_cont .btn-sound.on{
    background: url("../images/reading/reading_btn_sound_on.png") no-repeat; 
}
#reading_cont .btn-kor{
    position: absolute;
    width:76px;
    height:80px;
    left: 100px;
    top: 61px;
    background: url("../images/reading/reading_btn_kor.png") no-repeat;
}
#reading_cont .btn-kor.on{
    background: url("../images/reading/reading_btn_kor_on.png") no-repeat; 
}
#reading_cont .btn-close{
    position: absolute;
    width: 43px;
    height: 46px;
    left: 1228px;
    top: 71px;
    background: url("../images/reading/reading_btn_close.png") no-repeat;
    /* background-position: 5px 5px; */
    display: none;
}
#reading_cont .btn-close.on{
    background: url("../images/reading/reading_btn_close_on.png") no-repeat; 
}
#reading_cont .btn-next{
    position: absolute;
    width: 95px;
    height: 66px;
    left: 1164px;
    top: 674px;
    background: rgba(255,0,0,0);
}
#reading_cont .tab{
    position: absolute;
    width:130px;
    height:67px;
    left: 1088px;
    top: 60px;
    background: url("../images/reading/reading_btn_tab1.png") no-repeat;
}
#reading_cont .tab.on{
    background: url("../images/reading/reading_btn_tab2.png") no-repeat; 
}
#reading_cont .tab .btn-tab{
    position: absolute;
    width: 47px;
    height: 53px;
    left:0px;
    top:7px;
    background: rgba(255,0,0,0);
}
#reading_cont .tab .btn-tab:nth-child(1){
    left: 15px;
}
#reading_cont .tab .btn-tab:nth-child(2){
    left: 68px;
}
/* 리딩 페이지 1개 일때 */
#reading_cont .tab.num-1{
    left:1148px;
	width:74px;
    background: url("../images/reading/reading_btn_tab0.png") no-repeat;
}
#reading_cont .tab.num-1 .btn{
    pointer-events: none;
    cursor: default;
}

#reading_cont .scene
{
    position: absolute;
    width:100%;
}
#reading_cont .scene .bg_image{
    position: absolute;
}
#reading_cont .scene .bg_image .image{
    position: absolute;
}
#reading_cont .scene .texts{
    position: absolute;
    width:850px;
    height:620px;
    left: 220px;
    top: 89px;
    padding: 4px;
    background: rgba(255,255,255,0.7);
    border-radius: 25px;
}
#reading_cont .scene .texts .group{
    padding: 45px 0 0 160px;
    width:100%;
    height:100%;
    border: 3px dashed white;
    border-radius: 25px;
}
#reading_cont .scene .texts .text{
    position: relative;
    margin-bottom:69px;
}
#reading_cont .scene .texts .text .en{
    cursor: pointer;
    display: inline-block;
    font-family: "RobotoSlabR";
    font-size:50px;
    color:#000; 
}
#reading_cont .scene .texts .text .en.active{
    color:#F7245D; 
}
#reading_cont .scene .texts .text .text-item.active{
    color:#F7245D; 
}
#reading_cont .scene .texts .text .ko{
    position: absolute;
    top:72px;
    font-family: "NanumGothicBold";
    font-size:32px;
    color:#11739F; 
    display: none;
}
#reading_cont .scene .texts.is_kor .ko{
    display: block;
}

/* quiz-content */
.quiz-content .btn-reading{
    z-index: 2;
    cursor: pointer;
    position: absolute;
    left: 1140px;
    top: 50px;
    width: 130px;
    height: 120px;
    background: rgba(0,0,0,0);
}

/* reading-quiz */
#quiz_cont
{
    position: absolute;
    width:1280px;
    height:800px;
    background: white;
}
#quiz_cont .bg{
    position: absolute;
    width:1280px;
    height:800px;
    background: url("../images/reading/quiz_bg.png") no-repeat;
    /* background: url("../images/reading/reading_guide02.png") no-repeat;  */
}
#quiz_cont .quiz
{
    position: absolute;
    width:100%;
    top: 195px;
}
#quiz_cont .quiz .quiz-line
{
    position: relative;
    width:100%;
    height:100px;
    background: rgba(0,255,255,0);
}

#quiz_cont .quiz .quiz-line .box-num{
    position: absolute;
    left:70px;
    top:2px;
    width:65px;
    height:65px;
    background: #ACD754;
    border-radius: 20px;
    font-family: "GyeonggiTitleM";
    font-size: 38px;
    color: #fff;
}
#quiz_cont .quiz .quiz-line:nth-child(odd) .box-num
{
    background: #ACD754;
}
#quiz_cont .quiz .quiz-line:nth-child(even) .box-num
{
    background: #6EC9D2;
}
/* ie11  경기천년font 적용된 컨텐츠 top예외처리*/
_:-ms-fullscreen, :root #quiz_cont .quiz .quiz-line .box-num .num { padding-top:12px; }
#quiz_cont .quiz .quiz-line .box-num .num{
    position: relative;
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

#quiz_cont .quiz .quiz-line .box-text{
    position: absolute;
    left: 149px;
    top:0px;
    width:900px;
    height:70px;
    background: #E5F0F7;
    border-radius: 20px;
    font-family: "GodoM";
    font-size: 40px;
    color: #333;
}
#quiz_cont .quiz .quiz-line:nth-child(odd) .box-text
{
    background: #E5F0F7;
}
#quiz_cont .quiz .quiz-line:nth-child(even) .box-text
{
    background: #F0EEEE;
}
#quiz_cont .quiz .quiz-line .box-text .text{
    position: relative;
    padding-left:20px;
    padding-top: 12px;
    display: flex;
    justify-content: left;
}

#quiz_cont .quiz .quiz-line .check-cont
{
    position: absolute;
    left: 1070px;
    top:0px;
}
#quiz_cont .quiz .quiz-line .check-cont .checkbox{
    cursor: pointer;
    position: relative;
    display: inline-block;
    left:0px;
    top:0px;
    width:70px;
    height:70px;
    background: #C5D8EE;
    border-radius: 20px;
    font-family: "GyeonggiTitleM";
    font-size: 38px;
    color: #fff;
    margin-right: 4px;
}
/* ie11  경기천년font 적용된 컨텐츠 top예외처리*/
_:-ms-fullscreen, :root #quiz_cont .quiz .quiz-line .check-cont .checkbox .text{ padding-top:15px; }
#quiz_cont .quiz .quiz-line .check-cont .checkbox .text{
    position: relative;
    padding-left: 25px;
    padding-top: 17px;
    display: flex;
    justify-content: left;
}
#quiz_cont .quiz .quiz-line .check-cont.active .checkbox{
    cursor: default;
}
#quiz_cont .quiz .quiz-line .check-cont.active .checkbox.on{
    background: #E76A5B;   
}

#quiz_cont .bg-white
{
    z-index:9;
    position: absolute;
    width:1280px;
    height:800px;
    left:0;
    top:0;
    background: rgba(255,255,255,0.6);
    display: none;
}
#quiz_cont .ox .image{
    position: absolute;
    left:510px;
    top:256px;
    display: none;
}

/* quiz3 */
#quiz_cont .quiz.quiz3{
    top:200px;
}
/* ie11  경기천년font 적용된 컨텐츠 top예외처리*/
_:-ms-fullscreen, :root #quiz_cont .quiz.quiz3 .quiz-line .box-num .num { padding-top:10px; }
#quiz_cont .quiz.quiz3 .quiz-line .box-num .num{
    padding-top:10px
}
#quiz_cont .quiz.quiz3 .quiz-line .box-num{
    width: 55px;
    height: 55px;
    background: #6EC9D2;
}
#quiz_cont .quiz.quiz3 .quiz-line:nth-child(odd) .box-num{
    background: #6EC9D2;
}
#quiz_cont .quiz.quiz3 .quiz-line .box-text{
    position: absolute;
    left: 130px;
    top:0px;
    width:1050px;
    height:60px;
    background: #F0EEEE;
    border-radius: 20px;
    font-family: "GodoM";
    font-size: 34px;
    color: #333;
}
#quiz_cont .quiz.quiz3 .quiz-line:nth-child(odd) .box-text
{
    background: #F0EEEE;
}
#quiz_cont .quiz.quiz3 .quiz-line:nth-child(even) .box-text
{
    background: #F0EEEE;
}
#quiz_cont .quiz.quiz3 .quiz-line .box-text .text{
    padding-top:12px;
}
#quiz_cont .quiz.quiz3 .quiz-line .check-cont{
    position: absolute;
    left:-10px;
    top:-10px;
    width:500px;
}
#quiz_cont .quiz.quiz3 .quiz-line .check-cont .checkbox{
    height:60px;
    border: none;
}
#quiz_cont .quiz.quiz3 .quiz-line .check-cont.active .checkbox.on{
    opacity: 0;
}
#quiz_cont .quiz.quiz3 .quiz-line .box-text .text .quiz-img{
    position: relative;
    margin:-2px 14px 0 14px;
}
#quiz_cont .quiz.quiz3 .quiz-line .box-text .text img.o{
    position: absolute;
    opacity: 0;
}
#quiz_cont .quiz.quiz3 .quiz-line .box-text .text .quiz-img.clear img{
    opacity: 0;
}
#quiz_cont .quiz.quiz3 .quiz-line .box-text .text .quiz-img.clear img.o{
    opacity: 1;
}

/* writing-quiz */
#write_cont .bg{
    position: absolute;
    width:1280px;height:800px;
    background: url("../images/reading/quiz_bg2.png") no-repeat; 
}
#write_cont .btn-finish{
    z-index:2;
    cursor: pointer;
    position: absolute;
    left:1062px;
    top:666px;
}
#write_cont .text-box{
    position: absolute;
    left: 65px;
    top: 151px;
    width:1158px;
    height:588px;
    background: rgba(0,0,0,0);
}
#write_cont .text-box.clone{pointer-events: none;top:10px;background: white;z-index: -1;}
#write_cont .text-box .text-bg{
    position: absolute;
    display: none;
}

#write_cont .text-box .textarea{
    position: absolute;
    width: 1100px;
    height: 430px;

    font-family: "RobotoSlabR", "GodoM";
    font-size:38px;
    color:#333;
    line-height: 52px;
    text-align: left;

    padding:0;
    margin:0;
    margin-left: 30px;
    margin-top: 95px;
    overflow: hidden;
}
#write_cont .text-box .textarea.input{
    background: none;
    border: none;
    box-sizing: border-box;
    ime-mode: inactive;
}
#write_cont .text-box .textarea.output{
}
#write_cont .text-box .textarea.output .text{
    display: inline-block;
}

#write_cont .popup{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(255,255,255,0.65); */
}
#write_cont .popup-guide{
    z-index: 10;
}
#write_cont .guide{
    position: absolute;
    left:198px;
    top:172px;
    width:904px;
    height:475px;
    /* background: url("../images/writing/guide_bg.png") no-repeat; */
}
#write_cont .guide .text{
    position: absolute;
    left:41px;
    top:66px;
    font-family: "RobotoSlabR";
    font-size:38px;
    color:#333;
    line-height: 55px;
}
#write_cont .guide .btn-close{
    cursor: pointer;
    position: absolute;
    left: 830px;
    top: 10px;
}
#write_cont .stamp{
    z-index:2;
    position: absolute;
    left: 877px;
    top: 500px;
    transform: scale(1);
    opacity: 0;
    visibility: hidden;
}
#write_cont .stamp img{
    width:155px;
}
#write_cont .stamp.on{
    animation: ani-stamp 0.7s forwards ease-out;
}
@keyframes ani-stamp {
    0% {
        opacity: 0;
        transform: scale(3);
    }
    25% {
        opacity: 0.5;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 1;
        transform: scale(1);
    }
}

#write_cont .guide-img{
    pointer-events: none;
    z-index: 3;
    position: absolute;
    left: 1144px;
    top: 58px;
}
#write_cont .guide-effect{
    z-index:4;
    pointer-events: none;
    position: absolute;
    left: 1163px;
    top: 69px;
    width:100px;
    height:100px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    opacity: 0;
    /* -webkit-animation: none; */
    /* animation: none; */
}
#write_cont .guide-effect.on{
    -webkit-animation: eff-guide 1.5s infinite ease-out;
    animation: eff-guide 1.5s infinite ease-out;
}

@keyframes eff-guide {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    25% {
        opacity: 0.5;
        transform: scale(1.025);
    }
    50%
    {
        opacity: 0.8;
        transform: scale(1.05);
    }
    80%
    {
        opacity: 0;
        transform: scale(1.5);
    }
    100%
    {
        opacity: 0;
        transform: scale(1.5);
    }
}



#quiz_cont .quiz-drag .textBox{
    position: absolute;
    left: 130px;
    top: 180px;
    width:1020px;
    height:420px;
    padding:30px 76px;
    background: url("../images/reading/quizDrag_bg.png") no-repeat;
    font-family: "GodoM";
    font-size: 34px;
    color: #333;
}
#quiz_cont .quiz-drag .textBox .text-line{
    margin-bottom: 0;
    height:64px;
}
#quiz_cont .quiz-drag .textBox .text-line .text{
    position: relative;
    display: inline-block;
    padding: 0 2px;
    background: rgba(0,0,0,0);
}
#quiz_cont .quiz-drag .textBox .text-line .text .t{
    position: relative;
    z-index: 1;
    visibility: hidden;
}
#quiz_cont .quiz-drag .textBox .text-line .text.ans{
    width:160px;
    text-align: center;
    padding: 0 8px;
    color: #E55E74;
}
#quiz_cont .quiz-drag .textBox .text-line .text.ans::after{
    content:"";
    position: absolute;
    z-index:0;
    left: 0px;
    width:160px;
    height:54px;
    margin-top: -8px;
    opacity: 1;
    background: url("../images/reading/quizDrag_drop_box.png") no-repeat;
}

#quiz_cont .quiz-drag .area-con{
    position: absolute;
}
#quiz_cont .quiz-drag .area-con .drag-area{
    position: absolute;
    width:160px;
    height:56px;
}
#quiz_cont .quiz-drag .area-con .drag-area .area{
    position: absolute;
    width:160px;
    height:56px;
    top:0px;
    left:0px;
    background: rgba(0,0,0,0);
}
#quiz_cont .quiz-drag .drag-con{
    position: absolute;
}

#quiz_cont .quiz-drag .drag-item{
    position: absolute;
    cursor:pointer;
    width:160px;
    height:56px;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
}
#quiz_cont .drag-item.active {
    cursor:default;
}
#quiz_cont .quiz-drag .drag-item .area{
    position: absolute;
    width:160px;
    height:56px;
    top:0px;
    left:0px;
    /* background: rgba(0,0,0,0.25); */
}
#quiz_cont .quiz-drag .drag-item .text{
    width:100%;
    font-family: "GodoM";
    font-size: 34px;
    color: #fff;
}