@charset "utf-8";

/* 영어 5학년 1,2차시 */

/* layout */
.main{
    width:1280px;height:800px;
}


/* intro */
/* .intro-video{width:1280px;height:800px;} */
/* .intro-video video{width:100%;height:100%;} */
.intro-movie{position:absolute;top:0;left:0;width:100%;height:100%}
.intro-movie video{width:100%;height:100%;
    object-fit: cover;
}

/* preview */
.preview > .bg{
    width:1280px;height:800px;
    background: url("../images/preview/bg.png") no-repeat; 
    /* background: url("../images/preview/guide_03.png") no-repeat;  */
}
.btn-word{
    position: absolute;
    left:1090px;
    top: 682px;
    width:150px;
    height:60px;
    background: url("../images/preview/btn_word.png") no-repeat;
    cursor: pointer;
}
.na_container {
    z-index:1;
    width:1280px;height:800px;
    position: absolute;
}
.na_container .na_box{
    position: relative;
    width:605px;height:250px;
    background: url("../images/preview/tBox01.png") no-repeat; 
}
.na_container .na_box.box2{
    width: 605px;
    height: 290px;
    background: url("../images/preview/tBox02.png") no-repeat;
}

.na_container .na_box .text{
    line-height:50px;
    text-align: center;
}

.na_container .na_box .btn{
    position: absolute;
    left: 227px;
    top: 197px;
    width: 152px;
    height: 54px;
    cursor: pointer;
    pointer-events: auto !important;
    border-radius: 20px 20px 20px 20px;
    background: rgba(255,255,255,0.8);
    opacity: 0;
}
.na_container .na_box .btn.effect{
    -webkit-animation: ani-flash2 0.3s infinite alternate ease-in;  
    animation: ani-flash2 0.3s infinite alternate ease-in; 
}
.na_container .na_box .btn.on{
    pointer-events: none !important;
}
.na_container .na_box.box2 .btn{
    top:238px;
}

/* preview talk */
.preview-talk-group{
    position: absolute;
}

.preview-talk-group .tab{
    position: absolute;
    left: 1125px;
    top: 57px;
}
.preview-talk-group .tab .num{
    width:55px;
    height:55px;
    margin-right: 10px;
    cursor: pointer;
}
.preview-talk-group .tab .n_1{
    background: url("../images/preview/tab_1.png") no-repeat;
}
.preview-talk-group .tab .n_2{
    background: url("../images/preview/tab_2.png") no-repeat;
}
.preview-talk-group .tab .n_1.on{
    pointer-events: none;
    background: url("../images/preview/tab_1_on.png") no-repeat;
}
.preview-talk-group .tab .n_2.on{
    pointer-events: none;
    background: url("../images/preview/tab_2_on.png") no-repeat;
}

/* .preview-talk .container.disable{pointer-events: none;} */
.preview-talk .container{
    position: absolute;
    left:36px;
    top: 130px;
    width:1208px;
    height:545px;
    overflow-y:auto;
    overflow-x:hidden;
}
.preview-talk .content{
    position: relative;
    width:1248px;
}
.preview-talk .content .cue{
    position: relative;
    height:auto;
}
/* ie11  poorStoryR font 적용된 컨텐츠 top예외처리*/
_:-ms-fullscreen, :root .preview-talk .content .enter { padding-top:5px; }
.preview-talk .content .enter{
    position: relative;
    margin: 5px 0 16px 14px;
    width:1180px;
    height:40px;
    background-color:#DEDEDE;
    border-radius: 20px;
}
.preview-talk .content .enter .text{
    font-family: "poorStoryR";
    font-size:30px;
    color:#919191;
}

.preview-talk .content .talk.first{
    margin: 0px 0 6px 0;
}
.preview-talk .content .talk{
    /* margin: 12px 0 0px 0; */
    margin: 6px 0 0px 0;
    text-align: left;
}
.preview-talk .content .talk-right{
    text-align: right;
}
.preview-talk .content .talk .avata{
    position: absolute;
    left:13px;
    top:10px;
}
.preview-talk .content .talk .avata.emoti{
    margin-top:50px;
}
.preview-talk .content .talk-right .avata{
    position: absolute;
    left: 1091px;
    top:10px;
}

.preview-talk .content .talk .name{
    margin-left:168px;
    font-family: "poorStoryR";
    font-size:35px;
    color:#A1A3A6;
}
.preview-talk .content .talk .emoticon{
    margin: 7px 0 0 180px;
}
.preview-talk .content .talk-left .name{
    left:168px;
    text-align: left;
}
.preview-talk .content .talk-right .name{
    left: -221px;
    text-align: right;
    position: relative;
}

.preview-talk .content .talk .text-box{
    cursor: pointer;
    position: relative;
    margin: -3px 0 0 146px;
    background-color : #D8DBDE;
    border-radius: 20px;
    padding: 12px 36px;
    display: inline-flex;
    transform-origin: 0 40%;
    transform: scale(0);
}
.preview-talk .content .talk .text-box::after{
    content:"";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -23px;
    top: 22px;
    background: url("../images/preview/talkBox_arr1.png") no-repeat;
}
.preview-talk .content .talk .text-box .text{
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 45px;
    overflow: hidden;
}

.preview-talk .content .talk .text-box .text .en{
    display: block;
    /* width:100%; */
    text-align: center;
    font-family: "RobotoSlabR";
    font-size:34px;
    color:#333; 
}
.preview-talk .content .talk .text-box.ko .text .en{
    visibility: hidden;
}
.preview-talk .content .talk .text-box .text .ko{
    display: block;
    /* position: absolute; */
    /* width:100%;*/
    text-align: center;
    font-family: "GodoM";
    font-size:31px;
    color:#333;
    line-height:50px;
    visibility: hidden;
    margin-top: -45px;
    height: 0;
}
.preview-talk .content .talk .text-box.ko .text .ko{
    visibility: visible;
}
/* 영문, 한글 2줄일 경우 각각 중앙 정렬 css */
.preview-talk .content .talk .text-box .text .en.middle{
    margin-top:20px;
}
.preview-talk .content .talk .text-box .text .ko.middle{
    margin-top:19px;
}

.preview-talk .content .talk-right .text-box{
    left:-192px;
    background-color : #B8E580;
    transform-origin: 100% 40%;
}
.preview-talk .content .talk-right .text-box::after{
    left: calc(100% - 1px);
    top: 22px;
    background: url("../images/preview/talkBox_arr2.png") no-repeat;
}

.preview-talk .content .talk .text-box .effect{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    opacity: 0;
}
.preview-talk .content .talk .text-box .effect::after{
    content:"";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -23px;
    top: 22px;
    background: url("../images/preview/talkBox_arr1_w.png") no-repeat;
}
.preview-talk .content .talk-right .text-box .effect::after{
    left: calc(100% - 1px);
    top: 22px;
    background: url("../images/preview/talkBox_arr2_w.png") no-repeat;
}
.preview-talk .content .talk .text-box .effect2{
    width: 100%;
    height: 100%;
    /* background: #fff; */
    border:10px solid white;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    opacity: 0;
}


/* preview word */
.preview-word-group{
    position: absolute;
}
.preview-word .container .bg{
    position: absolute;
    width:1280px;height:800px;
    background: url("../images/preview/bg_word.png") no-repeat; 
}

.preview-word .wordBox-cont{
    position: absolute;
    left:85px;
    top:164px;
}
.preview-word .container > .close{
    cursor: pointer;
    position: absolute;
    left: 1222px;
    top: 105px;
    width:40px;
    height:40px;
    background: rgba(255,255,255,0);
}
.preview-word .wordBox-cont .wordBox{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;;
    left:0px;
    top:0px;
    width:220px;
    height:140px;
    background: url("../images/preview/wordBox.png") no-repeat; 
    transform: scale(1);
    transform-origin: 50% 50%;
}
.preview-word .wordBox-cont .wordBox.x1{
    left:300px;
}
.preview-word .wordBox-cont .wordBox.x2{
    left:600px;
}
.preview-word .wordBox-cont .wordBox.x3{
    left:900px;
}
.preview-word .wordBox-cont .wordBox.y1{
    top:197px;
}
.preview-word .wordBox-cont .wordBox.y2{
    top:394px;
}
/* 단어 8개일때 */
.preview-word .wordBox-cont.len-8 .wordBox.y0{
    top:90px;
}
.preview-word .wordBox-cont.len-8 .wordBox.y1{
    top:287px;
}

.preview-word .wordBox-cont .wordBox .effect{
    position: absolute;
    width:100%;
    height:100%;
    background: white;
    border-radius: 16px;
    opacity: 0;
}
.preview-word .wordBox-cont .wordBox .text{
    width:100%;
    text-align: center;
    font-family: "GodoB";
    font-size:40px;
    color:#333; 
}
.preview-word .wordShow-cont{
    z-index:4;
    position: absolute;
    left:17px;
    top:105px;
    width:1245px;
    height:640px;
    background: url("../images/preview/bg_wordShow.png") no-repeat;
    opacity: 0;
    display: none;
}
.preview-word .wordShow-cont .close{
    cursor: pointer;
    position: absolute;
    left: 1169px;
    top: 19px;
    width:55px;
    height:55px;
    background: url("../images/preview/wordShow_close.png") no-repeat;
}
.preview-word .wordShow-cont .image{
    position: absolute;;
    left:205px;
    top:148px;
    width:346px;
    height:346px;
    transform: translate(0,0);
    opacity: 0;
}
.preview-word .wordShow-cont .image img{
    position: absolute;
    width:100%;
    height:100%;
    display: none;
}
.preview-word .wordShow-cont .en{
    position: absolute;
    left: 552px;
    top: 207px;
    width: 670px;
    text-align: center;
    font-family: "GodoB";
    font-size:100px;
    color:#463B27;
    opacity: 0;
}
_:-ms-fullscreen, :root .preview-word .wordShow-cont .ko { margin-top:5px; }
.preview-word .wordShow-cont .ko{
    position: absolute;
    left: 552px;
    top: 330px;
    width: 670px;
    text-align: center;
    font-family: "poorStoryR";
    font-weight: bold;
    font-size:90px;
    color: #6D5E42;
    opacity: 0;
}

/* preview 스크롤바 커스터마이징 */
.mCustomScrollbar.mCS_disabled .mCSB_dragger
{
    display:block !important;
}
.mCSB_scrollTools
{
    opacity: 1;
}
.mCSB_outside + .mCSB_scrollTools
{
    right: -20px;
}
.mCustomScrollBox .mCSB_container
{
    min-height: 100%;
}
/*
.mCSB_inside > .mCSB_container
{
    margin-right: 20px;
}
*/
.mCSB_scrollTools .mCSB_buttonDown
{
    background-color: rgba(255,0,0,0.5) !important
}
.mCSB_scrollTools .mCSB_buttonUp
{
    background-color: rgba(255,0,0,0.5) !important;
}
.mCSB_scrollTools .mCSB_draggerRail
{
    background-color: #DEDEDE !important;
    width: 20px !important;
    border-radius: 0px !important;
}
.mCSB_scrollTools .mCSB_dragger_bar
{
    background-color: #C9C9C9 !important;
    width:20px !important;
    border-radius: 0px !important;
    margin:0px auto !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    height: auto !important;
}


/* activity */
.activity > .bg{
    position: absolute;
    width:1280px;height:800px;
    background: url("../images/activity/bg.png") no-repeat; 
    /* background: url("../images/activity/activity_guide02.png") no-repeat;  */
}

.activity .title{
    position: absolute;
    left: 42px;
    top: 68px;
}
.activity .title .text::before{
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../images/activity/title_ico.png") no-repeat;
}
.activity .title .text{
    margin-left: 50px;
    margin-top: 3px;
}
.activity .title .text.ko{
    font-family: "GyeonggiTitleM";
    font-size: 35px;
    color: #333;
    letter-spacing: -1.2px;
}

.activity .game{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
.card-cont{
    position: absolute;
    width: 1200px;
    left: 64px;
    top: 188px;
}
.cardWrapper{
    width:160px;
    height:220px;
    margin: 0px 38px 34px 0px;
    /*background:white; border:4px solid #DEDADA;box-sizing:border-box;border-radius: 15px;*/
    position:relative;
    float:left;
    cursor:pointer;
    -webkit-font-smoothing:antialiased;
    -webkit-perspective:800px;
    perspective:800px;
}
.cardWrapper .card {-webkit-transform-style: preserve-3d;transform-style: preserve-3d;}

.cardWrapper .cardFace{width:160px;height:220px;
    position:absolute;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardWrapper .text{text-align: center}
.cardWrapper .front{
    background: url('../images/activity/card_bg01_front.png') no-repeat; background-size: 100% 100%; 
    /* -webkit-transform: rotateY(-180deg); */
    /* transform: rotateY(-180deg); */
}
.cardWrapper.ko .front{
    background: url('../images/activity/card_bg02_front.png') no-repeat; background-size: 100% 100%; 
}

.cardWrapper .back{
    /* opacity: 0; */
    background: url('../images/activity/card_bg01_back.png') no-repeat; background-size: 100% 100%; 
    width:160px;height:220px;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);  
    font-family: "RobotoSlabB";
    font-weight: bold;
    font-size:45px;
    color:#333;
}
.cardWrapper.ko .back{
    background: url('../images/activity/card_bg02_back.png') no-repeat; background-size: 100% 100%; 
    font-family: "poorStoryR";
    font-size:50px;
    font-weight: bold;
    color:#333;
}

.cardWrapper .back.ie{
    visibility: hidden;
}

.activity .dog_ani{
    pointer-events: none;
    display: none;
    z-index: 3;
    width:160px;height:220px;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
    background: url('../images/activity/dog_ani.png') no-repeat; 
    background-position: 0 0;
}

.activity .cat_ani{
    pointer-events: none;
    display: none;
    z-index: 3;
    width:160px;height:220px;
    position:absolute;
    left:230px;
    top:0px;
    overflow:hidden;
    background: url('../images/activity/cat_ani.png') no-repeat;
    background-position: 0 0;
}
.activity .game .popup{
    z-index:10;
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.5);
}
.activity .game .popup.white{
    z-index:2;
}
.activity .game-card .popup .btn-restart{
    cursor: pointer;
    position: absolute;
    left:490px;
    top:360px;
    width:300px;
    height:85px;
    background: url('../images/activity/btn_restart.png') no-repeat;
}

.activity .game-drag .bg-white
{
    position: absolute;
    width:1280px;
    height:800px;
    left:0;
    top:0;
    background: rgba(255,255,255,0.6);
    z-index:9;
    display: none;
}

.activity .game-drag .area-con .drag-area
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.activity .game-drag .drag-con .drag-item
{
    display: flex;
    justify-content: left;
    align-items: center;
}
.activity .game-drag .area-con .text
{
    font-family: "RobotoSlabR";
    font-size:40px;
    color:#333;
}
.activity .game-drag .drag-con .text
{
    font-family: "RobotoSlabR";
    font-size:40px;
    color:#333;
    margin-left: 61px;
}

.activity .game-drag .popup
{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:10;
}
.activity .game-drag .popup .popup-sentence
{
    position: absolute;
    left:176px;
    top:138px;
    width:928px;
    height:571px;
    background: url('../images/activity/game2_bg.png') no-repeat;
}
.activity .game-drag .popup .popup-sentence .sentence
{
    position: absolute;
    width:100%;
    display: none;
}
.activity .game-drag .popup .popup-sentence .image
{
    position: absolute;
    top:60px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activity .game-drag .popup .popup-sentence .text
{
    position: absolute;
    top:495px;
    width:100%;
    font-family: "GodoM";
    font-size:40px;
    color:#333; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* writing */
.writing-cont{
    width:200px;
    height:100px;
}
.writing-cont textarea, .writing-cont .textarea{
    width:100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
    border:2px solid grey;

    font-family: "GodoM";
    font-size: 20px;
}

/* videoPlayer */
.video-player .video-cont
{
    z-index: 1;
    position: absolute;
}
.video-player .btn{
    cursor: pointer;
}
.video-player .subtitle-cont{
    z-index:3;
    position: absolute;
    top: 675px;
    /* margin-left: 16px; */
    /* padding-left: 16px; */
    display: flex;
    justify-content: left;
    align-items: center;
}
.video-player .subtitle-cont .character{
    z-index: 2;
    position: absolute;
    margin-left: 16px;
    width:75px;
    height:75px;
    background: url('../images/player/character_null.png') no-repeat;
}
.video-player .subtitle-cont .character img{
    z-index: 2;
    position: absolute;
    visibility: hidden;
}
.video-player .subtitle-cont .character img:not(:first-child){
    visibility: hidden;
}
.video-player .subtitle-cont .subtitle{
    position: relative;
    top: 5px;
    left: 55px;
    width: 1200px;
    height:70px;
    padding-left: 60px;
    padding-right: 200px;
    background: rgba(254,255,255,0.9);
    display: flex;
    justify-content: left;
    align-items: center;
}
.video-player .subtitle-cont .subtitle .text-cont{
    position: absolute;
    width: 2000px;
    margin-left: 60px;
    height: 70px;
    display: flex;
    align-items: center;
}
.video-player .subtitle-cont .subtitle .text.en{
    font-family: "RobotoSlabB";
    font-size:40px;
    color: #000;
}
/* ie11  poorStoryR font 적용된 컨텐츠 top예외처리*/
_:-ms-fullscreen, :root .video-player .subtitle-cont .subtitle .text.ko { margin-top: 10px;}
.video-player .subtitle-cont .subtitle .text.ko{
    font-family: "poorStoryR";
    font-size:42px;
    color:#000;
    margin-top: 2px;
}
.video-player .control-cont{
    position: absolute;
    left: 1056px;
    top: 13px;
    width: 206px;
}
.video-player .control-cont .btn{
    position: relative;
    width:53px;
    height:53px;
    display: inline-block;
    margin-right: 7px;
}
.video-player .control-cont .btn-playpause .effect{
    position: absolute;
    margin-left:-2px;
    margin-top:-2px;
    width:57px;
    height:57px;
    background: rgba(255,255,255,1);
    border-radius: 6px;
    -webkit-animation: ani-flash 0.3s infinite alternate; 
    animation: ani-flash 0.3s infinite alternate; 
}
.video-player .control-cont .btn-playpause{
    background: url('../images/player/btn_playpause.png') no-repeat;   
}
.video-player .control-cont .btn-playpause.on{
    background: url('../images/player/btn_playpause_on.png') no-repeat;   
}
.video-player .control-cont .btn-stop{
    background: url('../images/player/btn_stop.png') no-repeat;   
}
.video-player .control-cont .btn-stop.on{
    background: url('../images/player/btn_stop_on.png') no-repeat;   
}
.video-player .control-cont .btn-subtitle{
    background: url('../images/player/btn_subtitle.png') no-repeat;   
}
.video-player .control-cont .btn-subtitle.on{
    background: url('../images/player/btn_subtitle_on.png') no-repeat;   
}
.video-player .control-cont .btn-subtitle.off{
    background: url('../images/player/btn_subtitle_off.png') no-repeat;   
}
.video-player .control-cont .btn-roll{
    background: url('../images/player/btn_roll.png') no-repeat;   
}
.video-player .control-cont .btn-roll.on{
    pointer-events: none;
    cursor: default;
    background: url('../images/player/btn_roll_on.png') no-repeat;   
}
.video-player .btn-replay{
    z-index:2;
    position: absolute;
    left:500px;
    top:255px;
    width:282px;
    height:290px;
    background: url('../images/player/replay_btn.png') no-repeat;
}

.video-player .roll-popup{
    z-index:3;
    position: absolute;
    width:1280px;
    height:800px;
    background: rgba(255,255,255,0.7);
}
.video-player .roll-cont{
    position: absolute;
    left: 300px;
    top: 208px;
    width:680px;
    height: 429px;
    background: url('../images/player/rollPopup_bg.png') no-repeat;
    text-align: center;
}
.video-player .roll-cont .characters{
    position: absolute;
    top: 101px;
    width:100%;
    height:160px;
    text-align: center;
}
.video-player .roll-cont .characters .ch{
    display: inline-block;
    margin: 0 14px 8px;
}
.video-player .roll-cont.c2 .characters .ch{
    margin: 0 34px 8px;
}
.video-player .roll-cont .characters .ch .name{
    position: relative;
    width:125px;
    height:45px;
    background: #F2F2F2;
    border-radius: 15px;
    font-family: "poorStoryR";
    font-size:30px;
    color:#333;
    line-height: 45px;
    margin: 9px auto;
}

.video-player .roll-cont .characters .ch .image{
    position: relative;
}
.video-player .roll-cont .characters .ch img:nth-child(2), .video-player .roll-cont .characters .ch img:nth-child(3){
    position: absolute;
    display: none;
}
.video-player .roll-cont .characters .ch.on img:nth-child(1){
    opacity: 0;
}
.video-player .roll-cont .characters .ch.on img:nth-child(2){
    display: block;
}

.video-player .roll-cont .btn-play{
    cursor: pointer;
    position: absolute;
    left: 280px;
    top: 342px;
    width:120px;
    height:55px;
    background: url('../images/player/rollPopup_btn_play_on.png') no-repeat;
}
.video-player .roll-cont .btn-play.dimmed{
    pointer-events: none;
    background: url('../images/player/rollPopup_btn_play.png') no-repeat;
}
/* .video-player .roll-cont.type2 */
.video-player .roll-cont.type2{
    left: 165px;
    top: 96px;
    width:950px;
    height:608px;
    background: url('../images/player/rollPopup_bg2.png') no-repeat;
}
.video-player .roll-cont.type2 .characters{
    top: 79px;
    width:100%;
    -webkit-animation: none;
    animation: none;
}
.video-player .roll-cont.type2 .characters.effect{
    -webkit-animation: ani-flash 0.3s infinite alternate; 
    animation: ani-flash 0.3s infinite alternate; 
}

.video-player .roll-cont.type2 .characters .ch .name{
    margin: 2px auto
}
.video-player .roll-cont.type2 .btn-play{
    left: 415px;
    top: 525px;
}

/* 캐릭터 4명 */
.video-player .roll-cont.type2.c4 .characters{
    padding: 0 80px;
}
.video-player .roll-cont.type2.c4 .characters .ch{
    margin: 0 64px 8px;
}

/* 캐릭터 5~6명 */
.video-player .roll-cont.type2.c56 .characters{
    padding: 0 60px;
}
.video-player .roll-cont.type2.c56 .characters .ch{
    margin: 0 28px 23px;
}

/* 캐릭터 7~8명 */
.video-player .roll-cont.type2.c78 .characters .ch{
    margin: 0 25px 8px;
}

.video-player .repeat-cont{
    z-index: 2;
    position: absolute;
    left: 530px;
    top: 633px;
    width:225px;
    height:45px;
    background: url('../images/player/repeat_bg.png') no-repeat;
}
.video-player .repeat-cont .repear-back{
    position: absolute;
    left: 22px;
    top: 15px;
    width:180px;
    height:15px;
    background: #676767;
    border-radius: 50px;
}
.video-player .repeat-cont .repear-back.shadow{
    position: absolute;
    left: 22px;
    top: 13px;
    background: #ccc;
}
.video-player .repeat-cont .repear-back.bar{
    overflow: hidden;
}
.video-player .repeat-cont .repear-back.bar .repear-bar{
    position: absolute;
    left: 0px;
    width:180px;
    height:15px;
    background: url('../images/player/repeat_bar.png') no-repeat;
    transform: translate(-180px, 0);
}
.video-player .repeat-cont .repear-mic{
    position: absolute;
    left: 5px;
    top: 5px;
    width:35px;
    height:36px;
    background: url('../images/player/repeat_mic.png') no-repeat;
}
