@charset "utf-8";

/* quizShow > oxQuiz */
#ox-quiz > .bg{
    /* background: url("../images/ox.png") no-repeat; */
}

#ox-quiz .popup-point .flag-cont .flag:nth-child(1){
    left: 268px;
    top: 255px;
}
#ox-quiz .popup-point .flag-cont .flag:nth-child(2){
    left: 793px;
    top: 249px;
}
#ox-quiz .popup-point .flag-cont .flag:nth-child(3){
    left: 268px;
    top: 479px;
}
#ox-quiz .popup-point .flag-cont .flag:nth-child(4){
    left: 788px;
    top: 452px;
}

#ox-quiz .popup-point .point-cont .point:nth-child(1){
    background: url("../images/quizShow/point_bg0001.png") no-repeat;
}
#ox-quiz .popup-point .point-cont .point:nth-child(2){
    background: url("../images/quizShow/point_bg0002.png") no-repeat;
}
#ox-quiz .popup-point .point-cont .point:nth-child(3){
    background: url("../images/quizShow/point_bg0003.png") no-repeat;
}
#ox-quiz .popup-point .point-cont .point:nth-child(4){
    background: url("../images/quizShow/point_bg0004.png") no-repeat;
}
