@charset "utf-8";

.reading > .bg{
    /* background: url("../../common/images/guide2.png") no-repeat;  */
}
#quiz_cont .bg-white.good
{
    z-index:1;
}
#reading_cont #scene1 .ani-image{
    z-index: 1;
    position: absolute;
    left: 111px;
    top: 492px;
    width:36px;
    height:28px;
    background: url("../images/na_cut_2.png") no-repeat;
}
#reading_cont #scene2 .ani-image{
    z-index: 1;
    position: absolute;
    left: 127px;
    top: 505px;
    width: 44px;
    height: 24px;
    background: url("../images/na_cut2_2.png") no-repeat;
}

/*
#reading_cont .texts .group{
}
#reading_cont .scene .texts{
}
#reading_cont #scene2 .texts{
}
#reading_cont #scene2 .texts .text{
    position: relative;
    margin-bottom:69px;
}
#reading_cont #scene2 .texts .text .ko{
    position: absolute;
    top:72px;
}
*/