@charset "utf-8";

/* 영어 5학년 4차시 */

/* layout */
.main{
    width:1280px;height:800px;
}


/* intro */
/* .intro-video{width:1280px;height:800px;} */
/* .intro-video video{width:100%;height:100%;} */
.intro-movie{position:absolute;top:0;left:0;width:100%;height:100%}
.intro-movie video{width:100%;height:100%;
    object-fit: cover;
}

/* section */
.section .title{
    position: absolute;
    left: 42px;
    top: 60px;
}
/* ie11  경기천년font 적용된 컨텐츠 top예외처리*/
_:-ms-fullscreen, :root .section .title .text { margin-top:1px !important; }
.section .title .text::before{
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("../images/title_ico.png") no-repeat;
}
.section .title .text{
    margin-left: 50px;
    margin-top: 3px;
}
.section .title .text.ko{
    font-family: "GyeonggiTitleM";
    font-size: 35px;
    color: #333;
    letter-spacing: -1.2px;
}

/* quizShow */
.quizShow > .bg{
    position: absolute;
    width:1280px;
    height:800px;
    background: #526FC1;
}

/* quizShow > oxQuiz */
#ox-quiz > .bg{
    position: absolute;
    width:1280px;
    height:800px;
    background: url("../images/quizShow/oxQuiz_bg.png") no-repeat;
}
#ox-quiz .bg-white{
    z-index: 4;
    position: absolute;
    width:1280px;
    height:800px;
    background: rgba(255,255,255,0.6);
    display: none;
}

#ox-quiz > .ox-cont{
    position: absolute;
    width:1280px;
    height:800px;
    background: url("../images/quizShow/ox_img.png") no-repeat;
}
#ox-quiz > .ox-cont .line{
    position: absolute;
    left:635px;
    top:217px;
    width:10px;
    height:530px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
}
#ox-quiz > .ox-cont .btn{
    cursor: pointer;
    position: absolute;
    top: 270px;
    width: 520px;
    height: 430px;
    background: rgba(0,0,0,0);
}
#ox-quiz > .ox-cont .btn-o{
    left: 60px;
}
#ox-quiz > .ox-cont .btn-x{
    left: 690px;
}

#ox-quiz .quiz-cont{
    position: absolute;
    left:115px;
    top:50px;
    width:1052px;
    height:167px;    
    background: url("../images/quizShow/question_bg.png") no-repeat;
}
#ox-quiz .quiz-cont .question{
    position: absolute;
    width:100%;
    height:100%;
    display: none;
}
#ox-quiz .quiz-cont .question .text{
    position: relative;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ox-quiz .quiz-cont .question .text span{
    font-family: "GodoM";
    font-size:38px;
    color:#313131; 
    line-height: 58px;
    text-align: center;
    margin-left:80px;
}

#ox-quiz .popup-end{
    z-index: 11;
    position: absolute;
    width:1280px;
    height:800px;
    background: rgba(0,0,0,0.4);
}
#ox-quiz .popup-end .btn{
    cursor: pointer;
    position: absolute;
    width:180px;
    height:79px;
}
#ox-quiz .popup-end .btn-again{
    left:435px;
    top:403px;
    background: url("../images/quizShow/btn-again.png") no-repeat;
}
#ox-quiz .popup-end .btn-point{
    left:665px;
    top:403px;
    background: url("../images/quizShow/btn-point.png") no-repeat;
}

#ox-quiz .popup-point{
    position: absolute;
    width:1280px;
    height:800px;
}
#ox-quiz .popup-point .btn-close{
    cursor: pointer;
    z-index: 4;
    position: absolute;
    left:939px;
    top:285px;
    width:40px;
    height:40px;
    background: rgba(255,0,0,0);
}
#ox-quiz .popup-point .flag-cont .flag{
    z-index: 2;
    cursor: pointer;
    position: absolute;
}
#ox-quiz .popup-point .point-cont{
    z-index:4;
    position: absolute;
    width:1280px;
    height:800px;
    background: rgba(255,255,255,0.6);
}
#ox-quiz .popup-point .point-cont .point{
    position: absolute;
    left: 314px;
    top: 265px;
    width:681px;
    height:285px;
}
#ox-quiz .popup-point .point-cont .point .p-title{
    position: absolute;
    left: 80px;
    top: 15px;
    width: 544px;
    /* background: rgba(0,0,0,0); */

    font-family: "poorStoryR";
    font-size:40px;
    color: #FFF;
}
#ox-quiz .popup-point .point-cont .point .p-title span{
    display: inline-block;
    width:100%;
    text-align: center;
}
#ox-quiz .popup-point .point-cont .point .texts-cont{
    position: absolute;
    left: 82px;
    top: 87px;
    width: 580px;
    height: 180px;
    display: flex;
    align-items: center;
    /* background: rgba(255,0,0,0.5); */
}
#ox-quiz .popup-point .point-cont .point .texts-cont.center{
    left: 42px;
    width:620px;
}
#ox-quiz .popup-point .point-cont .point .texts-cont.center .texts{
    text-align: center;
}
#ox-quiz .popup-point .point-cont .point .texts-cont .texts{
    position: relative;
    width:100%;
    /* background: rgba(255,255,0,0.5); */
    font-family: "GodoM";
    font-size:35px;
    color:#333;
    text-align: left;
}
#ox-quiz .popup-point .point-cont .point .texts-cont .texts .text{
    width:100%;
    margin: 15px 0;
}
