@charset "utf-8";

.reading > .bg{
    /* background: url("../../common/images/guide2.png") no-repeat;  */
}
#quiz_cont {
    /* background: none; */
}
#quiz_cont .bg{
    /* background: none; */
}
#quiz_cont .quiz-drag .area-con .drag-area .area{
    /* background: rgba(0,0,0,0.5); */
}

#quiz_cont .bg-white.good
{
    z-index:1;
}

#reading_cont .scene .ani-bg{
    position: absolute;
    top:0px;
    left:0px;
}
/* 입모양 애니 */
#reading_cont #scene1 .ani-image{
    z-index: 1;
    position: absolute;
    left: 1131px;
    top: 469px;
    width:25px;
    height:13px;
    background: url("../images/na_cut_2.png") no-repeat;
}
#reading_cont #scene1 .ani-image:nth-child(2){
    z-index: 1;
    position: absolute;
    left: 93px;
    top: 441px;
    width: 24px;
    height: 16px;
    background: url("../images/na_cut1_2.png") no-repeat;
}
#reading_cont #scene2 .ani-image{
    z-index: 1;
    position: absolute;
    left: 113px;
    top: 455px;
    width: 52px;
    height: 30px;
    background: url("../images/na_cut2_2.png") no-repeat;
}


/* 5-2 리딩 CSS */
#reading_cont .scene .texts{
    width: 900px;
    height: 605px;
    left: 179px;
    top: 129px;
}
#reading_cont .scene .texts .text{
    margin-bottom: 83px;
}
#reading_cont .scene .texts .text.right{
    text-align: right;
    width: 547px;
}
#reading_cont .scene .texts .text.right .ko{
    text-align: right;
    width: 548px;
}
#reading_cont .scene .texts .text .en{
    font-size:40px;
}
#reading_cont .scene .texts .text .ko{
    font-size:30px;
    /* margin-left:-3px; */
}
#reading_cont .scene .texts .group{
    padding: 66px 0 0 168px;
}
#reading_cont .scene .texts .img_sub{
    position: absolute;
    left: 17px;
    top: 31px;
}

/* 씬2 */
#reading_cont #scene2 .texts{
    width: 950px;
    height: 557px;
    left: 271px;
    top: 123px;
}
#reading_cont #scene2 .texts .group{
    padding: 56px 0 0 188px
}
#reading_cont #scene2 .texts .text .ko{
    top: 63px;
}
#reading_cont #scene2 .texts .text{
    margin-bottom: 75px;
}
#reading_cont #scene2 .texts .text.right{
    text-align: right;
    width: 558px;
}
#reading_cont #scene2 .texts .text.right .ko{
    text-align: right;
    width: 578px;
}
#reading_cont #scene2 .texts .img_sub{
    left: 36px;
    top: 20px;
}


/* quiz-drag */
#quiz_cont .drag-item:nth-child(1) {
    transform:translate3d(155px,635px,0);
    -webkit-transform:translate3d(155px,635px,0);
}
#quiz_cont .drag-item:nth-child(2) {
    transform:translate3d(355px,635px,0);
    -webkit-transform:translate3d(355px,635px,0);
}
#quiz_cont .drag-item:nth-child(3) {
    transform:translate3d(555px,635px,0);
    -webkit-transform:translate3d(555px,635px,0);
}
#quiz_cont .drag-item:nth-child(4) {
    transform:translate3d(755px,635px,0);
    -webkit-transform:translate3d(755px,635px,0);
}
#quiz_cont .drag-item:nth-child(5) {
    transform:translate3d(955px,635px,0);
    -webkit-transform:translate3d(955px,635px,0);
}

#quiz_cont .drag-item::before {
    content:"";
    position: absolute;
    width: 160px;
    height: 56px;
    left: 0px;
    top: 0px;
    background:url("../../common/images/reading/quizDrag_drag_box.png") no-repeat;
    z-index: -1;
}

#quiz_cont .drag-area:nth-child(1) {
    transform:translate3d(234px,265px,0);
    -webkit-transform:translate3d(234px,265px,0);
}
#quiz_cont .drag-area:nth-child(2) {
    transform:translate3d(518px,265px,0);
    -webkit-transform:translate3d(518px,265px,0);
}
#quiz_cont .drag-area:nth-child(3) {
    transform:translate3d(234px,330px,0);
    -webkit-transform:translate3d(234px,330px,0);
}
#quiz_cont .drag-area:nth-child(4) {
    transform:translate3d(395px,457px,0);
    -webkit-transform:translate3d(395px,457px,0);
}
#quiz_cont .drag-area:nth-child(5) {
    transform:translate3d(234px,522px,0);
    -webkit-transform:translate3d(234px,522px,0);
}
