@charset "utf-8";

.preview > .bg{
    /* background: url("../images/guide0.png") no-repeat;  */
}

/* preview */
.preview-talk-group .avata_thumbnail{
    position: absolute;
    left:18px;
    top:55px;
    width:60px;
    height:60px;
    background: url("../images/preview/avata_thumbnail.png") no-repeat;
}

.preview-talk .avata_1{
    width:100px;
    height:100px;
    background: url("../images/preview/avata01.png") no-repeat;
}

.preview-talk .avata_2{
    width:100px;
    height:100px;
    background: url("../images/preview/avata02.png") no-repeat;
}

/* 단어 뜻 폰트 크기 조정 */
/* .preview-word .wordShow-cont .ko.eq-7{ font-size:90px; } */
