@charset "UTF-8";

/* Noto */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../fonts/NotoSansKR-Thin.eot), url(../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans Light"), local("NotoSans-Light"), url(../fonts/NotoSansKR-Light.eot), url(../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../fonts/NotoSansKR-DemiLight.eot), url(../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR-Regular.eot), url(../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../fonts/NotoSansKR-Medium.eot), url(../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/NotoSansKR-Bold.eot), url(../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}

/* NanumSquareRound */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"),
    url("../fonts/NanumSquareRoundL.eot"),
    url("../fonts/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NanumSquareRoundL.woff2") format("woff2"), 
    url("../fonts/NanumSquareRoundL.woff") format("woff"), 
    url("../fonts/NanumSquareRoundL.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"),
    url("../fonts/NanumSquareRoundR.eot"),
    url("../fonts/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NanumSquareRoundR.woff2") format("woff2"),     
    url("../fonts/NanumSquareRoundR.woff") format("woff"), 
    url("../fonts/NanumSquareRoundR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquareRoundB"),
    url("../fonts/NanumSquareRoundB.eot"),
    url("../fonts/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NanumSquareRoundB.woff2") format("woff2"), 
    url("../fonts/NanumSquareRoundB.woff") format("woff"), 
    url("../fonts/NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareRoundEB"),
    url("../fonts/NanumSquareRoundEB.eot"),
    url("../fonts/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NanumSquareRoundEB.woff2") format("woff2"), 
    url("../fonts/NanumSquareRoundEB.woff") format("woff"), 
    url("../fonts/NanumSquareRoundEB.ttf") format("truetype");
}


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: "Noto Sans Korean", sans-serif;
	font-weight: 500;
}

img {
	max-width: 100%;
    border: 0;
    vertical-align: top;
}

ul {
    list-style: none;
}
em {
	font-style: normal;
}

input,
select,
button {
    vertical-align: middle;
}

label, button {
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
	background-color: #edf7ff;
}

.c-wrap {
	overflow-x: auto;
	min-width: 1280px;
}
.c-wrap.c-wrap--large {
/* 	min-width: 1394px; */
}
.c-aligner {
	position: relative;
	width: 1166px;
	height: 100%;
	margin: 0 auto;
}

.login {
	padding: 144px 0;
}
.l-aligner {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 504px;
	margin: 0 auto;
}
.l-heading {
	margin-bottom: 50px;
	font-size: 50px;
	text-align: center;
	font-family: "NanumSquareRound", sans-serif;
	font-weight: 400;
    letter-spacing: 2.5px;
}
.l-logo {
	text-align: center;
}
.l-inputbox {
	margin-top: 65px;
}
.l-input + .l-input {
	margin-top: 20px;
}
.c-input {
	display: block;
	width: 100%;
	padding: 0 30px;
	border-radius: 20px;
	height: 84px;
	background-color: #fff;
	border: 1px solid #fff;
	color: #444;
	font-size: 18px;
	text-align: left;
	outline: none;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.c-input:focus {
	border: 1px solid #00a19f;
}
.c-input::placeholder {
	opacity: 0.3;
	color: #444;
	font-size: 18px;
}
.l-buttons {
	margin-top: 65px;
}
.l-button {
	display: block;
	width: 100%;
	background-color: #00a19f;
	border: 0;
	border-radius: 84px;
	color: #fff;
	font-size: 24px;
	text-align: center;
	line-height: 84px;
	font-family: "NanumSquareRound", sans-serif;
	font-weight: 400;
    letter-spacing: 2.4px;
}

.is-popup-open,
.is-popup-open body {
	overflow-y: hidden;
	height: 100vh;
}
.c-popup {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.63);
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.c-popup.active {
	opacity: 1;
	visibility: visible;
}
.c-popup_aligner {
	overflow-y: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
	padding: 50px 0;
}
.c-popup_box {
	overflow-y: auto;
	max-height: 100%;
	position: relative;
	width: 100%;
	max-width: 574px;
	padding: 60px 20px 40px;
	background-color: #fff;
	border-radius: 30px;
}
.c-popup_box.c-popup_box--middle {
	max-width: 534px;
}
.c-popup_box.c-popup_box--small {
	max-width: 474px;
}
.c-popup_txt {
	color: #444;
	font-size: 30px;
	text-align: center;
	font-weight: 900;
}
.c-popup_buttons {
	margin-top: 35px;
	font-size: 0;
	text-align: center;
}
.c-popup_button {
	display: inline-block;
	height: 55px;
	padding: 0 30px;
	border: 1px solid #8089e2;
	border-radius: 55px;
	background-color: #abb2ff;
	color: #fff;
	text-align: center;
	font-size: 22px;
	line-height: 53px;
	font-family: "NanumSquareRound", sans-serif;
	font-weight: 400;
	vertical-align: top;
	box-shadow: 0 2px 0 rgba(59,59,59,.16);
}
.c-popup_button:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 14px;
	margin-top: -2px;
	margin-right: 10px;
	background: url('../images/c-popup_button.png') no-repeat;
	vertical-align: middle;
}
.c-popup_close {
	display: block;
	position: absolute;
	top: 8px;
	right: 9px;
	width: 39px;
	height: 39px;
	border-radius: 39px;
	background: #d6d6d6 url('../images/c-popup_close.png') no-repeat center center;
	text-indent: -9999px;
}

.d-header {
	padding: 13px 0;
	background-color: #fff;
}
.d-tab {
	font-size: 0;
	text-align: left;
}
.d-tab_list {
	display: inline-block;
	background-color: #f8f8f8;
	border-radius: 66px;
	padding: 7px;
	vertical-align: top;
}
.d-tab_item {
	display: inline-block;
	vertical-align: top;
}
.d-tab_item + .d-tab_item {
	margin-left: 7px;
}
.d-tab_link {
	display: inline-block;
	min-width: 118px;
	height: 53px;
	border-radius: 53px;
	background-color: #f8f8f8;
	color: #d6d6d6;
	font-size: 18px;
	text-align: center;
	line-height: 51px;
	font-weight: 900;
	vertical-align: top;
}
.d-tab_item.active .d-tab_link {
	background-color: #02aba4;
	color: #fff;
}

.d-content {
	padding: 40px 57px;
}
.d-arrow {
	position: absolute;
	top: 375px;
	width: 57px;
	height: 114px;
	background: url('../images/d-arrow.png') no-repeat;
	text-indent: -9999px;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.d-arrow.d-arrow--disabled {
	opacity: 0.3;
	cursor: inherit;
}
.d-arrow.d-arrow--prev {
	left: -57px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.d-arrow.d-arrow--next {
	right: -57px;
}
.d-section + .d-section {
	margin-top: 20px;
}
.d-current {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	position: relative;
	overflow: hidden;
	padding: 27px 45px 27px 27px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 2px 7px rgba(0,0,0,0.04);
}
.d-current_selectbox {
	font-size: 0;
	text-align: left;
}
.d-current_select {
	display: inline-block;
	width: 120px;
	vertical-align: top;
}
.d-current_select.d-current_select--large {
	width: 430px;
}
.d-current_select + .d-current_select {
	margin-left: 20px;
}
.d-currentbox {
	font-size: 0;
	text-align: right;
}
.d-currentbox > dl {
	display: inline-block;
	position: relative;
	padding: 0 28px;
	text-align: center;
	vertical-align: top;
}
.d-currentbox > dl + dl:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 55px;
	background-color: #eef3f6;
}
.d-currentbox > dl > dt {
	margin-bottom: 10px;
	color: #444;
	font-size: 18px;
	text-align: center;
	line-height: 1;
}
.d-currentbox > dl > dd {
	color: #464646;
	font-size: 15px;
	line-height: 1;
}
.d-currentbox > dl > dd em {
	color: #464646;
	font-size: 26px;
	font-weight: 900;
	line-height: 1;
}

.c-select .select2-container {
	display: block;
	width: 100% !important;
}
.c-select .select2-container .select2-selection--single {
	height: 58px;
	border-color: #d6d6d6 !important;
	border-radius: 10px;
}
.c-select .select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-left: 15px;
	padding-right: 50px;
	color: #444;
	font-size: 18px;
	line-height: 56px;
}
.c-select .select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 50px;
	height: 100%;
	background: url('../images/c-select.png') no-repeat center center;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.select2-dropdown {
	overflow: hidden;
	border-color: #d6d6d6 !important;
	border-radius: 0 0 10px 10px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	display: none;
}
.select2-results__option--selectable {
	background-color: #fff !important;
	color: #444;
	font-size: 18px;
	padding: 0 15px !important;
	line-height: 56px !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #02aba4 !important;
	color: #fff;
}
.d-boxs {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.d-boxs .d-box + .d-box {
	margin-left: 24px;
}
.d-box {
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 2px 7px rgba(0,0,0,0.04);
}
.d-heading {
	min-height: 66px;
	padding: 21px 20px 19px;
	background-color: #66d2ee;
	color: #fff;
	font-size: 26px;
	text-align: left;
	font-family: "NanumSquareRound", sans-serif;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.65px;
}
.d-cont {
	position: relative;
	padding: 25px 20px;
}
.d-tablebox {
	max-height: 270px;
	overflow-y: auto;
}
.d-table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	width: 100%;
	height: 100%;
}
.d-table th {
	height: 59px;
	background-color: #f9f9f9;
	color: #232323;
	font-size: 20px;
	text-align: center;
	font-weight: 900;
}
.d-table th:first-child {
	border-radius: 15px 0 0 15px;
}
.d-table th:last-child {
	border-radius: 0 15px 15px 0;
}
.d-table th em {
	font-size: 20px;
	font-weight: 900;
}
.d-table td {
	height: 65px;
	color: #444;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #eaf0f4;
}
.d-table .left {
	text-align: left !important;
}
.d-table_link {
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	display: block;
	color: #444;
	font-size: 18px;
	text-align: left;
}
.d-analysis_heading {
	position: relative;
	padding-right: 180px;
}
.d-analysis_tabbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
	margin-top: 25px;
}
.d-analysis_tab {
	width: 187px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-lines: multiple;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.d-analysis_tab > a {
	display: block;
	width: calc(50% - 10px);
	padding: 5px 0;
	border: 1px solid #e9e9f0;
	border-radius: 5px;
	background-color: #f8f8f8;
	color: #444;
	font-size: 18px;
	text-align: center;
}
.d-analysis_tab > a:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-top: -3px;
	margin-right: 6px;
	border-radius: 17px;
	vertical-align: middle;
	border-width: 4px;
	border-style: solid;
}
.d-analysis_tab > a.active {
	color: #fff !important;
}
.d-analysis_tab > a.active:before {
	border-color: #fff !important;
}
.d-analysis_tab > a:nth-child(2) ~ a {
	margin-top: 20px;	
}
.d-analysis_tab > a.purple.active {
	background-color: #a3a1fb;
	border-color: #7f7cf5;
}
.d-analysis_tab > a.purple:before {
	border-color: #a3a1fb;
}
.d-analysis_tab > a.red.active {
	background-color: #ff8474;
	border-color: #f25743;
}
.d-analysis_tab > a.red:before {
	border-color: #ff8474;
}
.d-analysis_tab > a.green.active {
	background-color: #50d8bb;
	border-color: #21caa6;
}
.d-analysis_tab > a.green:before {
	border-color: #50d8bb;
}
.d-analysis_tab > a.yellow.active {
	background-color: #ffdd00;
	border-color: #f6c500;
}
.d-analysis_tab > a.yellow:before {
	border-color: #ffdd00;
}
.d-analysis_tab > a.orange.active {
	background-color: #ffa167;
	border-color: #ef7a33;
}
.d-analysis_tab > a.orange:before {
	border-color: #ffa167;
}
.d-analysis_tab > a.deep-pink.active {
	background-color: #ff4779;
	border-color: #eb134e;
}
.d-analysis_tab > a.deep-pink:before {
	border-color: #ff4779;
}
.d-analysis_tab > a.pink.active {
	background-color: #ff7cc3;
	border-color: #ef3f9e;
}
.d-analysis_tab > a.pink:before {
	border-color: #ff7cc3;
}
.d-analysis_tab > a.yellow-green.active {
	background-color: #8be594;
	border-color: #4ad557;
}
.d-analysis_tab > a.yellow-green:before {
	border-color: #8be594;
}
.d-analysis_tab > a.skyblue.active {
	background-color: #9fd4fd;
	border-color: #5dadeb;
}
.d-analysis_tab > a.skyblue:before {
	border-color: #9fd4fd;
}
.d-info {
	color: #2e4765;
	font-size: 20px;
	text-align: left;
	font-family: "NanumSquareRound", sans-serif;
	font-weight: 700;
}
.d-info:after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 7px;
	background: url('../images/d-info.png') no-repeat;
}
.d-analysis_navi {
	opacity: 0.54;
	position: absolute;
	top: 0;
	right: 0;
	color: #444;
	font-size: 15px;
}
.d-list > li:first-child {
	padding-top: 0;
}
.d-list > li {
	position: relative;
	padding: 15px 0;
	padding-right: 130px;
	border-bottom: 1px solid #f5f5f6;
}
.d-list .key {
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	color: #232323;
	font-size: 20px;
	text-align: left;
	font-weight: 900;
}
.d-list .txt {
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	color: #444;
	font-size: 18px;
}
.d-list .c-buttons {
	position: absolute;
	bottom: 15px;
	right: 0;
}
.c-buttons {
	font-size: 0;
}
.c-buttons.c-buttons--right {
	text-align: right;
}
.c-button {
	display: inline-block;
	padding: 0 13px 0 18px;
	height: 38px;
	background-color: #ffa2c5;
	border: 1px solid #ff649e;
	border-radius: 38px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	line-height: 38px;
	font-family: "NanumSquareRound", sans-serif;
	box-shadow: 0 2px 0 rgba(59,59,59,0.16);
}
.c-button:after {
	content: "";
	display: inline-block;
	width: 7px;
	height: 11px;
	margin-top: -1px;
	margin-left: 10px;
	background: url('../images/c-button.png') no-repeat;
	vertical-align: middle;
}
.c-pager {
	margin-top: 13px;
	font-size: 0;
	text-align: center;
}
.c-pager > a {
	display: inline-block;
	vertical-align: top;
}
.c-pager > a + a {
	margin-left: 3px;
}
.c-pager .arrow {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	background: #f5f5f5 url('../images/c-pager_arrow.png') no-repeat center center;
	text-indent: -9999px;
}
.c-pager .arrow.arrow--next {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.c-pager .num {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	border: 0;
	background-color: #f5f5f5;
	color: #444;
	font-size: 16px;
	text-align: center;
	line-height: 28px;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.c-pager .num.active {
	color: #fff;
	background-color: #01aca6;
}
.d-recommend {
	padding: 30px 20px;
	border-radius: 10px;
	background-color: #f8f8f8;
}
.d-recommend .subject {
	margin-bottom: 15px;
	color: #444;
	font-size: 20px;
	text-align: left;
	font-weight: 900;
}
.d-recommend .list > li {
	position: relative;
	padding-left: 15px;
	color: #444;
	font-size: 18px;
	line-height: 30px;
}
.d-recommend .list > li + li {
	margin-top: 30px;
}
.d-recommend .list > li:before {
	content: "";
	display: block;
	position: absolute;
	top: 13px;
	left: 0;
	width: 3px;
	height: 3px;
	border-radius: 3px;
	background-color: #4d4f5c;
}
.question {
	position: relative;
	padding-top: 115px;
}
.q-header {
	overflow-y: hidden;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 115px;
	padding: 22px 0;
	background-color: #34c1e5;
	z-index: 10;
}
.q-subject {
	position: relative;
	padding-right: 178px;
}
.q-subject_buttons {
	position: absolute;
	bottom: 0;
	right: 0;
}
.q-subject_button {
	display: inline-block;
	padding: 0 20px 0 35px;
	height: 55px;
	background-color: #abb2ff;
	border: 1px solid #8089e2;
	border-radius: 38px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	line-height: 55px;
	font-family: "NanumSquareRound", sans-serif;
	box-shadow: 0 2px 0 rgba(59,59,59,0.16);
}
.q-subject_button:after {
	content: "";
	display: inline-block;
	width: 11px;
	height: 15px;
	margin-top: -3px;
	margin-left: 20px;
	background: url('../images/q-subject_button.png') no-repeat;
	vertical-align: middle;
}
.q-subject .recommend {
	font-size: 0;
	text-align: left;
}
.q-subject .recommend span {
	display: inline-block;
	position: relative;
	height: 36px;
	padding: 0 13px;
	background-color: #00a19f;
	color: #fff;
	font-size: 16px;
	line-height: 34px;
	text-align: left;
	vertical-align: top;
}
.q-subject .recommend span:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: -6px;
	width: 6px;
	height: 100%;
	background: url('../images/q-subject_recommend.png') no-repeat;
	background-size: auto 100%;
}
.q-subject .navi {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
}

.question-box {
	background-color: #e6e6e6;
	padding: 25px;
}
.question-cont {
    min-height: 700px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	padding: 45px 65px;
	border: 5px solid #d8d8d8;
	background-color: #fff;
	border-radius: 25px;
}
.question-arrow {
	position: absolute;
	top: 50%;
	width: 57px;
	height: 114px;
	margin-top: -57px;
	background: url('../images/question-arrow.png') no-repeat;
	text-indent: -9999px;
}
.question-arrow.question-arrow--prev {
	left: 0;
}
.question-arrow.question-arrow--next {
	right: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.question-key {
	position: relative;
	padding-left: 59px;
	margin-bottom: 150px;
}
.question-key.question-key--small {
	margin-bottom: 35px;
}
.question-key .txt {
	display: inline;
	color: #232323;
	font-size: 45px;
	line-height: 70px;
	font-weight: 900;
	vertical-align: top;
}
.question-key .num {
	position: absolute;
	top: 0;
	left: 0;
	color: #232323;
	font-size: 50px;
	line-height: 70px;
	font-weight: 900;	
}
.question-key.question-key--right .num:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 108px;
	height: 108px;
	margin-top: 3px;
	margin-left: -5px;
	border-radius: 108px;
	border: 13px solid #00cbff;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.question-key .ex {
	display: inline;
	vertical-align: middle;
}
.question-key .ex span {
	display: inline-block;
	position: relative;
	margin-top: 8px;
	margin-left: 18px;
	border-radius: 10px;
	padding: 0 20px;
	color: #232323;
	font-size: 30px;
	text-align: left;
	font-weight: 900;
	line-height: 60px;
	background-color: #f5f5f5;	
}
.c-correct {
	display: inline-flex;
	position: initial;
	border-radius: 50%;
	border-color: #f66363;
	border-style: solid;
}
.question-key .ex span .c-correct {
	width: 106px;
	height: 62px;
	border-width: 4px;
}
.question-listbox {
	text-align: center;
}
.question-list li {
	font-size: 0;
	text-align: center;
}
.question-list li + li {
	margin-top: 23px;
}
.question-txt {
	display: inline-block;
	position: relative;
	min-width: 483px;
	padding: 60px 30px;
	border-radius: 30px;
	background-color: #f5f5f5;
	color: #232323;
	font-size: 60px;
	text-align: center;
	font-weight: 900;
    letter-spacing: -1px;
    word-break: break-all;
}
.question-txt.question-txt--left {
	text-align: left;
}
.question-txt.question-txt--small {
	width: 100%;
	padding: 30px;
	font-size: 35px;
	line-height: 1.8;
	font-weight: 500;
}
.question-list .c-correct {
	width: 210px;
	height: 110px;
	border-width: 6px;
}
.question-buttons {
	margin-top: 8px;
	font-size: 0;
	text-align: right;
}
.question-buttons.question-buttons--next {
	margin-top: -10px;
}
.question-buttons.question-buttons--next .question-button {
	background-color: #ffa2c5;
	border-color: #ff649e;
}
.question-buttons.question-buttons--next .question-button:before {
	display: none;
}
.question-buttons.question-buttons--next .question-button:after {
	content: "";
	display: inline-block;
	width: 13px;
	height: 20px;
	margin-left: 10px;
	background: url('../images/question-button--next.png') no-repeat;
	vertical-align: middle;
}
.question-button {
	display: inline-block;
	padding: 20px 35px 20px 30px;
	background-color: #4686f5;
	border-radius: 70px;
	border: 2px solid #1366f5;
	color: #fff;
	font-size: 28px;
	text-align: center;
	font-family: "NanumSquareRound", sans-serif;
	vertical-align: top;
	box-shadow: 0 2px 0 rgba(59,59,59,0.16);
}
.question-button:before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-right: 10px;
	background: url('../images/question-button--right.png') no-repeat;
	vertical-align: middle;
}
.q-correct {
	position: relative;
	min-height: 88px;
	margin-top: 25px;
	padding: 13px 13px 13px 169px;
	background-color: #eef4fe;
	border-radius: 10px;
	font-size: 0;
	text-align: left;
}
.q-correct_key {
	display: inline-block;
	position: absolute;
	top: 13px;
	left: 13px;
	min-width: 122px;
	height: 63px;
	background-color: #4686f5;
	border-radius: 10px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	line-height: 63px;
	font-family: "NanumSquareRound", sans-serif;
	vertical-align: top;
}
.q-correct_value {
	color: #232323;
	font-size: 30px;
	line-height: 61px;
	font-weight: 900;
	text-align: left;
	margin: -5px 0;
}
.q-correct_value span {
	display: inline-block;
	position: relative;
	padding: 5px 0;
	margin-left: 10px;
	margin-right: 10px;
	color: #232323;
	font-size: 30px;
	line-height: 61px;
	font-weight: 900;
	vertical-align: top;
}
.q-correct_value span .c-correct {
	width: 108px;
	height: 64px;
	border-width: 4px;
}

.viewer {
/* 	padding: 170px 0; */
}
.viewer-content {
	overflow: hidden;
	position: relative;
/* 	border: 18px solid #fff; */
	background-color: #fff;
}
.viewer-video {
	min-height: 720px;
	background-color: #4e4e4e;
}
.viewer-function {
	position: absolute;
	top: 0;
	right: -274px;
	width: 274px;
	height: 720px;
	padding-left: 13px;
	padding-bottom: 73px;
	background-color: #fff;
	z-index: 10;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.viewer-function.active {
	right: 0;
}
.viewer-cont {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}
.viewer-trigger {
	display: block;
	position: absolute;
	top: 50%;
	left: -17px;
	width: 17px;
	height: 99px;
	margin-top: -50px;
	border-radius: 10px 0 0 10px;
	background-color: #fff;
}
.viewer-trigger:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/viewer-trigger.png') no-repeat center center;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.viewer-function.active .viewer-trigger:before {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.viewer-box {
	background-color: #f8f8f8;
	padding: 0 7px 9px 7px;
	border-radius: 10px;
}
.viewer-box + .viewer-box {
	margin-top: 12px;
}
.viewer-heading {
	padding: 20px 10px;
	color: #00a19f;
	font-size: 24px;
	line-height: 30px;
	font-family: "NanumSquareRound", sans-serif;
	font-weight: 700;
}
.viewer-listbox {
	overflow-y: auto;
	height: fit-content; 
}
.viewer-item + .viewer-item {
	margin-top: 3px;
}
.viewer-item.active .viewer-link {
	background-color: #69cecc;	
}
.viewer-item.active .viewer-link,
.viewer-item.active .viewer-link * {
	color: #fff;
}
.viewer-link {
	display: block;
	padding: 11px 15px;
	border-radius: 7px;
	background-color: #fff;
	color: #838383;
	font-size: 20px;
	line-height: 1;
	text-align: left;
}
.viewer-link em {
	display: block;
	margin-bottom: 5px;
	color: #838383;
	font-size: 20px;
	font-weight: 900;
	line-height: 1;
}
.viewer-link span {
	line-height: 1;
	display: block;
	color: #838383;
	font-size: 18px;
}
.viewer-box.viewer-box--blue .viewer-link {
	padding: 16px 15px;
}
.viewer-box.viewer-box--blue .viewer-item + .viewer-item {
	margin-top: 5px;
}
.viewer-box.viewer-box--blue .viewer-heading {
	color: #20b8df;
}
.viewer-box.viewer-box--blue .viewer-item.active .viewer-link {
	background-color: #66d2ee;	
}
.viewer-buttons {
	position: absolute;
	bottom: 2px;
	right: 0;
	width: 100%;
	padding-left: 13px;
}
.viewer-button {
	display: block;
	position: relative;
	height: 55px;
	padding: 0 30px;
	border: 1px solid #8089e2;
	border-radius: 55px;
	background-color: #abb2ff;
	color: #fff;
	text-align: center;
	font-size: 22px;
	line-height: 55px;
	font-family: "NanumSquareRound", sans-serif;
	font-weight: 400;
	vertical-align: top;
	box-shadow: 0 2px 0 rgba(59,59,59,.16);
}
.viewer-button:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	right: 20px;
	width: 11px;
	height: 100%;
	background: url('../images/viewer-button.png') no-repeat center center;
	vertical-align: middle;
}

.question-input {
	display: inline;
	width: 181px;
	height: 96px;
	padding: 0 30px;
	background-color: #fff;
	border: 4px solid #a5a5a5;
	border-radius: 20px;
	color: #232323;
	font-size: 60px;
	text-align: center;
	font-weight: 900;
	vertical-align: top;
}

.q-dozen {
	padding-left: 60px;
}
.q-dozen_section {
	margin-top: 40px;
}
.q-dozen_q {
	position: relative;
	margin-bottom: 30px;
	color: #232323;
	font-size: 35px;
	font-weight: 900;
}
.q-dozen_q.q-dozen_q--correct:before {
	/* top: -24px; */
	left: -80px;
	width: 108px;
	height: 108px;
	border-radius: 108px;
	border: 13px solid #00cbff;
}
.q-dozen_q.q-dozen_q--incorrect:before {
	/* top: -17px; */
	left: -80px;
	width: 91px;
	height: 91px;
	background: url('../images/q-dozen_q--incorrect.png') no-repeat center center;
}
.q-dozen_q:before {
	content: "";
	position: absolute;
}
.q-dozen_q.q-dozen_q--incorrect + .q-dozen_a .q-dozen_input {
	color: #ff4a4a;
	font-weight: 900;
}
.q-dozen_a {
	padding-left: 40px;
}
.q-dozen_input {
	display: block;
	width: 555px;
	height: 80px;
	padding: 0 25px;
	background-color: #fff;
	border: 4px solid #d8d8d8;
	border-radius: 20px;
	color: #232323;
	font-size: 30px;
	text-align: left;
	font-weight: 900;
	outline: none;
}
.q-dozen_list {
	margin-top: -10px;
}
.q-dozen_list li a {
	display: block;
	color: #232323;
	font-size: 30px;
	line-height: 2;
}
.q-dozen_list li.correct a {
	font-weight: 900;
	text-decoration: underline;
}
.q-nextbuttons {
	position: relative;
	font-size: 0;
	text-align: right;
}
.q-nextbutton {
	display: inline-block;
	padding: 3px 23px;
	background-color: #eee;
	color: #444;
	font-size: 18px;
	text-align: center;
	font-weight: 900;
	vertical-align: top;
}
.q-nextbutton:after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 10px;
	margin-top: -3px;
	margin-left: 15px;
	background: url('../images/q-nextbutton.png') no-repeat;
	vertical-align: middle;
}