@font-face { font-family:"Noto Sans KR"; font-style: normal; font-weight: normal;
              src:url('/fonts/NotoSansKR-Regular.eot') format('eot'),
                  url('/fonts/NotoSansKR-Regular.woff') format('woff'),
                  url('/fonts/NotoSansKR-Regular.otf') format('opentype'); }
@font-face { font-family:"Noto Sans JP"; font-style: normal; font-weight: normal; src: url('/font/NotoSansJP-Regular.otf') format('opentype'); }

/* 공통 */
html, body { padding:0; margin:0; background: #fff; }
* { box-sizing: border-box; font-family: "Noto Sans KR", "sans-serif"; }
u { text-decoration: none; border-bottom: 2px solid; /*display: inline-block;*/ line-height:1.3em; }
input, textarea { -webkit-ime-mode:active; ime-mode:active; -webkit-appearance: none; -moz-appearance: none;appearance: none;outline: none;background-color: transparent;border: 0px solid; }
input[type="radio"] {-webkit-appearance: radio;}
input[type="checkbox"] {-webkit-appearance: checkbox;}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }

  /*20171206 kjh 추가 */
  label { cursor:pointer; }
  label img {pointer-events:none;}

  /* 문제 관련 */
  #ProblemBody > * { /* font-size:21px;  margin:0 auto; font-size:22px;*/ }
  .pb_layout {position:relative;width:96%;min-width:96%; font-size:1em; padding-top:.75em; padding-bottom:.75em; } /* 43.75em 700px font-size:1.25em; */
  .pb_layout input, .pb_layout textarea { font-size:1em; }
  .pb_problem, .pb_sentence, .pb_example, .pb_hint, .pb_answer, .pb_expl { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

  .pb_input, .pb_ime_active,
  .pb_layout .pb_example textarea,
  .pb_layout .pb_example input[type="text"] {
    display: inline-block;zoom:1;
    padding: 3px;
    margin:0 0 3px 0;
    color: #222;
    vertical-align:middle; /* vertical-align:middle\9; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #777777;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }

  /*.pb_layout .pb_example input[type="checkbox"], .pb_layout .pb_example input[type="radio"] {vertical-align: middle}*/
  .pb_layout textarea {width:30em;height:4em;margin:0 auto; overflow-y:visible; /*overflow:auto*/}
  .pb_layout .pb_example input[type="text"] { /*height:1.4em;*/ text-align:center;} /* width:8em; */
  .pb_layout img, .pb_layout object {max-width:100%}
  .pb_layout object {position:relative;z-index:0}

  .pb_num, .pb_area {position:absolute}
  .pb_num {top:0;left:0;width:2em;text-align:right;line-height:1.75em}
  .pb_num_middle { top:12px !important; }
  .pb_num_middle_img { top:6px !important; }
  .pb_num_middle_mp3 { top:22px !important; }
  .pb_wrap {top:0;left:0;padding-left:2.5em;zoom:1;overflow:hidden;position:relative}
  .pb_problem, .pb_sentence, .pb_hint { /*, .pb_answer, .pb_expl*/
	  position:relative;margin-bottom:0.5em;white-space:pre-wrap;-ms-word-wrap:break-word;word-wrap:break-word; line-height:1.75em;
	  *white-space:pre
  }

  .pb_expl.wrap { white-space:pre-wrap;-ms-word-wrap:break-word;word-wrap:break-word; }

  .pb_sentence {text-align:center; }
  .pb_sentence img { margin : 10px auto; }
  .pb_sentence_com {margin:0 5px 10px 35px}
  .pb_sent_com_txt {margin:0 0 5px 35px}
  .pb_sentence td {padding:7px} /* container에서 padding을 0으로 해놔서.. */
  /* 문제나 지문에 직접 태그 입력했을때 공백 처리를 위해 스페이스를 준 경우 있 */
  .pb_problem td, .pb_sentence td {white-space: inherit}

  .pb_example {margin-bottom:0.5em; }
  .pb_example_lr {width:49%;float:right}
  .pb_sen_left {width:50%;float:left;zoom:1}
  /*
  .pb_box {border:1px solid #aaa;border-radius:4px;padding:0.3em 0.6em;display:block;.padding:.3em;.width:96%;
    text-align:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*/
  /*.pb_box {border:1px solid #aaa;border-radius:4px;padding:0.3em 0.6em;display:inline-block;*display:inline;*zoom:1;
  text-align:left;min-width:70%;max-width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*/ /* *white-space:pre;*word-wrap:break-word */
  .pb_box .minw {min-width:30.625em;width:100%;height:1px;margin:0;line-height:1px} /* 490px, pb_box 기본 크기를 지정하기 위한것이었는데 100%로 맞춰야 하기에 현재는 의미 없음 */
  .pb_sen_left .minw {width:100%}
  .hint_btn {white-space: nowrap; display: inline-block; }
  .hint_btn span {color:#E77D00;cursor:pointer}
  .pb_layout .feed_back {margin-left:40px;margin-top:5px;padding:0px}
  /*.pb_layout label img {margin-bottom: 5px; }*/
  .pb_layout label img {margin: 2px 0; }

  .pb_an_grp {padding:10px 0 0 0;margin:0}
  .pb_an_grp li {display:inline-block; margin:0 0 10px 0;position:relative; line-height:1.875em;}
  .pb_an_grp li img {max-width:100%; height:auto; /*margin-top:1em;*/ }
  .pb_an_ca1r li {width:99%;text-align:right}
  .pb_an_sym {display:inline-block;*display:inline;*zoom:1;width:auto;/*1.5em;*/text-align:center;vertical-align:baseline;font-size:0.9em}
  .pb_an_unit {display:inline-block;*display:inline;*zoom:1;text-align:left;vertical-align:baseline;font-size:0.9em;padding:0 6px;/*padding-left:2px;*/word-break:nowrap; }
  .pb_an_ca1c li {width:99%;text-align:center}
  .pb_an_ca1 li {width:99%}
  .pb_an_ca2 li {width:48%}
  .pb_an_ca3 li {width:32%}
  .pb_an_ca4 li {width:24%}
  .pb_an_ca5 li {width:19.5%}
  .pb_an_ca6 li {width:15.5%}
  .pb_an_ca7 li {width:13.5%}
  .pb_an_grp label {position:relative;display:inline-block;zoom:1;left:0;padding-left:3.12em;
	  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	  white-space:pre-wrap;-ms-word-wrap:break-word;word-wrap:break-word;line-height:1.75em;
	  width:100%;
  }
  li .audioBox {position:relative;display:inline-block;zoom:1;left:0;margin-left:2.75em;
	  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	  white-space:pre-wrap;-ms-word-wrap:break-word;word-wrap:break-word;line-height:1.75em;
  }

  /* 보기 간격 */
  .pb_an_grp .exn {position:absolute;left:0;font-weight:normal; font-size:1.125em; /*top: 50%; transform: translateY(-50%);*/ } /*line-height:1.75em;*/
  .exn_middle { top: 50%; transform: translateY(-50%); }
  .pb_an_grp .exn input {margin: -.25em .25em 0 0; padding:0; width:1.2em; height:1.2em; vertical-align: middle; }
  .pb_sen_left .pb_an_grp li {display:block;width:260px;margin:0 0 5px 10px; line-height:1.75em; }

  .inlinebox {text-align:left;display:inline-block;*display:inline;*zoom:1}
  .hide {display:none}

  /* p로 시작. a:정렬, b:배경, c:색, e:효과, s:사이즈  */
  .pb_layout .pal {display:block;text-align:left; /*margin: 10px 0;*/ line-height: 1.7em; }
  .pb_layout .par {display:block;text-align:right}
  .pb_layout .pac {display:block;text-align:center; margin: 10px 0; }
  .pb_layout .pac2 {display:block;margin:0 auto;text-align:center; /*max-width:800px;*/} /* 이미지 정렬에 사용중 */
  .pb_layout .pb1 {background-color:#ffff00}
  .pb_layout blockquote {margin-top:0;margin-bottom:0}
  .pb_layout .pc1 {color:gray}
  /*글자용 칼라(진하다는 뜻)*/
  .pb_layout .pc2 {color:#FF0000} /*빨간색*/
  .pb_layout .pc3 {color:#0032A0} /*파란색*/
  .pb_layout .pc4 {color:#C73399} /*핑크색*/
  .pb_layout .pc5 {color:#FF3C00} /*주황색*/
  .pb_layout .pc6 {color:#6400A0} /*보라색*/
  .pb_layout .pc7 {color:#006400} /*초록색*/
  /*시험대비학력평가에서 단원이름으로 사용*/
  .pb_layout .pc8 {color:#E67F89} /*[1회]*/
  .pb_layout .pc9 {color:#5AA4CD} /*[2회]*/

  .pb_layout .pe1 {border-bottom:dotted 1px #333;text-decoration:none}
  .pb_layout .pe2, .ft_eq { font-family: 'Times New Roman'; font-style:italic; font-size:1.15em; } /*{font-family:Lucida Calligraphy,cursive} */ /*방정식 관련*/
  .pb_layout .pe3 {position:relative;color:#84cbef!important;font-family:"돋움"!important;font-weight:bold;font-size:1.25em!important;line-height:100%} /*겹쐐기표*/
  .pb_layout .pe3_1 {position:absolute;top:-6px;left:1px;font-weight:bold}
  .pb_layout .pe4 {font-family:"굴림",Gulim}

  .pb_layout .ps125 {font-size:1.25em}
  .pb_layout .ps75 {font-size:.75em}
  /*mark\0 {background-color:#ff0;color:#000}  html5 tag, IE6~8 hack */

  /*.pb_hint, .pb_answer, .pb_expl {padding-left:65px;/ *40px;* / background-position:1px 0px;background-repeat:no-repeat}
  .pb_hint {color:#8b4513;background-image:url(/common/studyExam/common/img/btn03.png);/ *icon_hint.gif;margin-left:3px* /}*/
  /*.pb_answer {color:#ff3333;background-image:url(/common/studyExam/common/img/btn01.png);*/ /*icon_answer.gif}*/

/* 20190314 추가 시작 */
  /* 공통 */
  /*
  .content_boxer { position: relative; width:100%; margin:0 auto; margin-bottom:50px; background-color:#f0f0f0; }
  .content_boxer .char {position: absolute; width: 76px; height: 81px; background: url(/Common/studyWindow2/lib/images/content/char_dog.png) no-repeat; bottom: 0px; right: 30px; z-index: 2;}

  */

  .content_boxer { position: relative; width: 830px; margin: 0 auto; margin-top: 25px; margin-bottom: 60px; background: url(/Common/studyWindow2/lib/images/content/template_hint_box_c.png) repeat-y;  }
  .content_boxer:before { content: ""; position: absolute; width: 100%; height: 20px; bottom: -20px; left: 0; background-image: url(/Common/studyWindow2/lib/images/content/template_hint_box.png); background-repeat: no-repeat; background-position: bottom;}
  .content_boxer:after { content: ""; position: absolute; width: 100%; height: 20px; top: -20px; left: 0; background-image: url(/Common/studyWindow2/lib/images/content/template_hint_box.png); background-repeat: no-repeat; background-position: top; }
  .content_boxer .char { position: absolute; width: 80px; height: 83px; background-image: url(/Common/studyWindow2/lib/images/content/char_dog.png); bottom: -18px; right: 30px; z-index: 2; }
  .content_boxer .wrap_text { display:inline-block; color:#666; font-size: .9em; line-height: 1.5em; width: 610px; min-height: 40px; }
  .content_boxer .wrap_text p { position: relative; margin-top: 0px; display: table; color: #666; line-height:1.5;  }
  .content_answer .icon, .content_boxer .icon { display:inline-block; width: 56px; height: 28px; font-size: 14px;text-align: center; line-height: 26px;   }


  /*정답*/
  .content_answer { position: relative; width:814px; margin:20px auto; display: table; margin-left:16px; }
  .content_answer .icon { background:url(/Common/studyWindow2/lib/images/content/template_answer_icon.png) no-repeat center; vertical-align: middle; color:#000; margin:6px 16px 18px 16px; display: table-cell;}
  .content_answer .wrap_text { display:inline-block; line-height: 1.75em; width:720px; display: block; padding-left: 20px; margin-top: -5px; }
  .content_answer .wrap_text, .content_answer .wrap_text > * { font-size: 1em; color:#e70000; }

  /*해설*/
  .content_review { display:inline-table; }
  /*.content_review { position: relative; width:100%; margin:0 auto; margin-bottom:50px; background-color:#f0f0f0; }*/
  .content_review .icon { background: url(/Common/studyWindow2/lib/images/content/template_review_icon.png) no-repeat; color:#fff; vertical-align: top; margin : 3px 15px 0 18px; }
 /*.content_review .wrap_text { color:#666; }*/
  .content_review .review_video_btn {position: relative; width: 166px; height: 38px; background: url(/Common/studyWindow2/lib/images/content/template_review_video_btn.png); margin-bottom:10px; z-index: 2; font-size: .9em; text-indent: 47px; line-height: 38px; letter-spacing: -1px;}

  /*힌트*/
  .content_hint { background-color:#f0f0f0 !important; display:none; }
  .content_hint .icon { background: url(/Common/studyWindow2/lib/images/content/template_hint_icon.png) no-repeat; color:#333; vertical-align: top; margin : 2px 15px 0 18px; }
  .content_hint .wrap_text p { margin:0; }
  .markingOX {position:absolute;top:0px;left:3px;width:50px;height:48px;z-index:99; padding-top:.5em; padding-left:.25em; }

  /* 20190314 추가 끝 */

  /*
  .pb_expl {background-image:url(/common/studyExam/common/img/btn02.png);/ *icon_expl.gif* /}*/
  /*.pb_round { background:url(/common/studyExam/common/img/round_big2.gif) no-repeat; width:38px; height:38px; border:none;
    font-size:1.2em!important;text-align:center;vertical-align:middle; display:inline-block; color:#000; }*/
  .pb_round {
      background: url(/common/studyExam/common/img/round_big2.gif) no-repeat;
      width: 38px;
      height: 38px;
      border: none;
      font-size: 1.2em!important;
      text-align: center;
      /*vertical-align: top;*/
      display: inline-block;
      color: #000;
      line-height: 38px;
      padding: 0;
      color:#000;
  }
  .pb_round\0 {padding:2px 0 0 0;vertical-align:middle;}
  /*
  .big .pb_round {background-image:url(/common/studyExam/common/img/round_big2.gif);width:38px;height:38px; }
  .big .pb_round\0 {padding:6px 0 0 0}*/
  /*.big .pb_layout {font-size:20px}*/

  .pb_input {text-align:center}
  .pb_impor {color:#C73399;font-weight:bold} /*중요도 높음*/
  .pb_ime_active {-ms-ime-mode: active; ime-mode: active}
  .pb_ime_inactive {-ms-ime-mode: inactive; ime-mode: inactive}

  /* 내부 삽입 테이블 */
  .pb_tbl {border-collapse:collapse;border-spacing:0}
  .pb_tbl td, .pb_tbl th {padding:3px;border:1px #353535 solid;text-align:center}
  /* 테두리 */
  .pb_bdr {border:1px #aaa solid;border-radius:4px;padding:0.3em 0.6em;margin:0 auto; }
  .pb_box {border:1px #aaa solid;border-radius:4px;padding:0.3em 0.6em;display:block;text-align:left;margin:0 auto; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box /*-ms-overflow-style: auto;*/ }

  /* 박스스크롤 */
  .pb_bdr, .pb_box { height:auto; max-height:520px; min-height: 50px; overflow-x : hidden; overflow-y: auto; line-height:1.7em; margin:10px 0; }
  .pb_bdr, .pb_box {
    -ms-overflow-style: auto;
    scrollbar-face-color: #cdcdcd;
    scrollbar-shadow-color: #cdcdcd;
    scrollbar-arrow-color: #666;
    scrollbar-base-color: #fff;
    scrollbar-track-color: #f0f0f0;
  }
  .pb_bdr::-webkit-scrollbar, .pb_box::-webkit-scrollbar {width: 8px; height: 10px;}
  .pb_bdr::-webkit-scrollbar-button:start:decrement, .pb_box::-webkit-scrollbar-button:start:decrement, .pb_bdr::-webkit-scrollbar-button:end:increment, .pb_box::-webkit-scrollbar-button:end:increment {display: block; height: 0px;}
  .pb_bdr::-webkit-scrollbar-track, .pb_box::-webkit-scrollbar-track {background: #f0f0f0;-webkit-border-radius: 10px;border-radius:10px;-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2);}
  .pb_bdr::-webkit-scrollbar-thumb, .pb_box::-webkit-scrollbar-thumb {height: 50px;width: 50px;background: #cdcdcd;-webkit-border-radius: 8px;border-radius: 8px;-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1);}

  /*.pb_bdr .scroll_bx, .pb_box .scroll_bx { height: 320px; overflow-x:hidden; overflow-y:scroll; position:relative; margin-right:-16px; }*/
  .pb_row_arrow_top { width: 30px; height: 30px; background: url("/Common/img/icon/scroll_bar_icon.png") no-repeat; background-size: 30px 75px; display: block; position: absolute; top: 0; right: 0; z-index: 110; opacity: 0.8; background-position: 0 0; text-indent: -99999px;}
  .pb_row_arrow_bottom { width: 30px; height: 30px; background: url("/Common/img/icon/scroll_bar_icon.png") no-repeat; background-size: 30px 75px; display: block; position: absolute; /*bottom: 0;*/ top:305px; right: 0; z-index: 110; opacity: 0.8; background-position: 0 -45px; text-indent: -99999px;}
  /*.pb_bdr .imgScroll, .pb_bdr .imgScroll_sub, .pb_box .imgScroll, .pb_box .imgScroll_sub { display: none;}*/


  /* 분수표현 관련 css */
  table.ft_tlb {display:inline-table;text-align:center;vertical-align:middle; margin:10px 4px;/*0px 4px 20px 4px; */ border-collapse:collapse;zoom:1}
  table.ft_tlb.md { margin:0px 4px !important; }
  table.ft_tlb td {border:none} /* .pb_tbl 영향을 받아 테이블 내에 있을때 테두리 생기는 문제 대응, border 관련된 경우 table.ft_tlb 붙여 범위를 지정합니다. */
  table.ft_tlb td.ft_line {height:2px;background-color:#fff;line-height:1px;border-bottom:solid 1px;padding:0}
  /*table.ft_tlb td.ft_line {height:3px;background-color:#fff;line-height:1px;border-bottom:solid 2px;padding:0}*/
  .pb_answer table.ft_tlb  td.ft_line {border-color:#e70000}
  .pb_hint table.ft_tlb  td.ft_line {border-color:#8b4513}
  td.ft_nume, td.ft_deno, td.ft_wnum {line-height:1em}
  td.ft_nume, td.ft_deno {text-align:center}
  td.ft_nume {padding:1px 2px 0 2px} /* numerator 분자 */
  td.ft_nume.vmiddle { height:54px; vertical-align:bottom; }
  /*td.ft_deno {padding:4px 2px 0 2px}  denominator 분모 */
  td.ft_deno { padding:3px 2px 0 2px; }
  td.ft_deno input { margin-top:1px; }/**/
  td.ft_wnum {padding:2px 2px 0 0} /* whole number 정수 */
  td.ft_box {border:1px solid #999;padding:3px 2px 0 2px;margin:0 1px}
  td.ft_deno.vmiddle { height:54px; vertical-align:top; }

  /* 해설 강의용 * /
  .exp_lec {background:#d4e6aa;padding:1px 0 3px 5px;margin-bottom:3px}
  .exp_lec a {color:#555;text-decoration:none;font-weight:bold}
  */

  /*========================================
	레이아웃 스크롤 아이콘
  =========================================*/
  .row_arrow_top{width:30px; height: 30px; background: url(/common/img/icon/scroll_bar_icon.png) no-repeat;background-size: 30px 75px;display: block; position: absolute; top:0; right:0;z-index: 110; opacity: 0.8;background-position: 0 0;text-indent: -99999px;}
  .row_arrow_bottom{width:30px; height: 30px; background: url(/common/img/icon/scroll_bar_icon.png) no-repeat;background-size: 30px 75px;display: block; position: absolute; bottom:0; right:0;z-index: 110; opacity: 0.8;background-position: 0 -45px;text-indent: -99999px;}
  .sub_row_arrow_top{width:30px; height: 30px; background: url(/common/img/icon/scroll_bar_icon.png) no-repeat;background-size: 30px 75px;display: block; position: absolute; top:45px; right:4px;z-index: 110; opacity: 0.8;background-position: 0 0;text-indent: -99999px;}
  .sub_row_arrow_bottom{width:30px; height: 30px; background: url(/common/img/icon/scroll_bar_icon.png) no-repeat;background-size: 30px 75px;display: block; position: absolute; bottom:10px; right:4px;z-index: 110; opacity: 0.8;background-position: 0 -45px;text-indent: -99999px;}
  .imgScroll { display:none; }

  /*========================================
	긴문제 스크롤
  =========================================*/
  /*#ProblemBody { position: absolute; width: 100%; height: 100%; overflow-x: hidden; overflow-y: scroll; -ms-overflow-style: none; -moz-overflow-style: none; -webkit-overflow-style: none; top:0; left:0; font-size:20px; / * background:red;* / }   190131_3 수정 : overflow scroll */
  /*#ProblemBody { position: absolute; width: 100%; max-width:937px; height: 100%; overflow-x: hidden; overflow-y: scroll; /*-ms-overflow-style: none; -moz-overflow-style: none;  -webkit-overflow-style: none;*/  top:0; left:0; font-size:20px; } */
  /*#ProblemBody::-webkit-scrollbar, .co_exam::-webkit-scrollbar { display: none; }*/
  /*#ProblemBody::-webkit-scrollbar { display: none; }*/
  .scrollbar { position: absolute; top: 20px; right: 14px; width: 5px; height: 660px; background-color: #474743; border-radius: 10px; overflow: hidden; display:none; }
  .scrollbar_face { position: absolute; top: 0; width: 100%; height: 158px; background-color:#e9d368; border-radius: 10px;}

 /*========================================
	mp3 추가
  =========================================*/
.audioBox { padding:10px 30px 10px 10px; display:inline-block; }
.audioFile { display:inline-block; width:70px; height:70px; background: url(/common/studyExam/common/img/speaker_off.png) no-repeat;background-size: 70px 70px; vertical-align: middle; cursor: pointer;}
.audioFile.on { background: url(/common/studyExam/common/img/speaker_on.png) no-repeat;background-size: 70px 70px; }


/*exam*/
.examCon {background-color: #f5f5f5;}
.co_cont {
    width: 938px; /*938px;*/
    height: 677px;
    background: #f5f5f5;
    position: relative;
    display: table;
}
.co_cont.a6 {height: 740px;}

.co_cont .co_cont_itembx {
    display: table-cell;
    vertical-align: middle;
}
/*
.co_cont .co_cont_itembx.full{vertical-align: top;}
*/

.co_cont .co_math.full.co_qna {height: 125px;}
.co_cont .co_exam .num {
    width: 100px; height: 100px; font-size: 50px; color: #999; display: inline-block; line-height: 100px; text-align: center; float: left;
    margin-bottom: 20px;
}
.co_cont .co_dic.co_exam .question {margin-left: 20px; width: 418px;}
.co_cont .co_dic.co_exam .num {margin-left: 150px; margin-top: 10px;}
.co_cont .co_dic.co_exam .inputBx {width: 838px;height: 85px;line-height: 85px;font-size: 24px;color: #333; display: block;}
.co_cont .co_dic.co_exam .corBx { width: 763px; font-size: 22px; color: #e62a01; font-weight: bold; margin-top: 20px; text-align: center; padding-left: 0; float: right; height: 83px; line-height: 86px;}
.co_cont .full .co_exam .num {font-size: 30px; line-height: 60px; width: 60px; height: 60px; margin-bottom:0;}
.co_cont .full .co_exam .question {font-size: 0;width: 75px;height: 60px;margin-left: 0;margin-bottom: 0;}
.co_cont .full .co_exam .inputBx { display: inline-block; width: 743px; float: right; height: 60px; line-height: 60px; font-size: 20px; color: #333; overflow: hidden; padding-left: 18px;}
.co_cont .full .co_exam .corBx{width: 703px;float: right;padding-left: 20px; margin-top: 0; font-size: 20px;color: #e62a01;line-height: 66px;height: 61px;font-weight: bold;}
.co_cont .co_exam .question { width: 738px; height: 120px; font-size: 47px; color: #333; display: inline-block; line-height: 120px; text-align: center; margin-bottom: 28px; overflow: hidden;}
.co_cont .co_exam .question.big { font-size: 70px; }
.co_cont .co_exam .question .ord {color: #736357; margin: 0 10px; }

.co_cont .co_exam.co_dic .question {font-size: 0;}

.co_cont .co_exam .answer {
    width: 738px;
    height: 140px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    display: table-cell;
    line-height: 40px;
    text-align: center;
    outline: none;
    padding: 30px;
    vertical-align: middle;
    word-break: break-all;
    display:inline-block;
  vertical-align:middle;

}

.co_cont .full .co_exam .answer {
    width: 233px;
    height: 60px;
    padding: 0;
    line-height: 60px;
    overflow: hidden;
}
.co_cont .co_exam .inputBx {float: right;text-align: center;overflow: hidden;}

/*korean*/
.co_cont_itembx .co_dic {height: 235px; overflow: hidden; padding-left: 0; }
.co_cont_itembx .co_dic li{
    background: url(../images/bg_dic.jpg) no-repeat; width: 838px; height: 235px; margin: auto; position: relative; overflow: hidden;
}

.co_cont .co_exam .question {vertical-align: top; }

.co_cont .full .co_exam .question {vertical-align: top; line-height: 60px;}

.co_cont_itembx .co_dic.co_qna {height: 340px;}
.co_cont_itembx .co_dic.co_qna li {height: 340px;}
.co_cont_itembx.full .co_dic, .co_cont_itembx.full .co_math {height: 100%;overflow-y: scroll;margin-top: 10px;margin-right: 5px;}
.co_cont_itembx.full .co_dic li{
    background: url(../images/bg_dic_full.jpg) no-repeat;
    width: 878px;
    height: 60px;
    margin: auto;
    position: relative;
    margin-bottom: 5px;
    clear: both;
    overflow: hidden;
}
.co_cont_itembx.full .co_dic.co_qna li{height: 125px;}
.co_cont .full .co_dic.co_exam .inputBx {text-align: left;}
.co_cont .full .co_dic.co_exam .corBx {text-align: left;}
.co_cont .full .co_dic.co_exam .num {margin-left: 0; margin-top: 0;}

.co_cont_itembx.full .co_qna li {margin-bottom: 15px;}
.co_cont_itembx.full .co_qna li:last-child {margin-bottom: 0;}

.co_cont .co_dic .co_ko_listitem.co_dic_ing .question {background: url(../images/icon/icon_dic.jpg) no-repeat; width: 418px; height: 120px;}
.co_cont .full .co_ko_listitem.co_dic_ing .question {background: url(../images/icon/icon_dic_sm.jpg) no-repeat; width: 75px; height: 60px; }

/*math*/
.co_cont_itembx .co_math {height: 390px; overflow: hidden; padding-left: 0;}
.co_cont_itembx .co_math li {
    background: url(../images/bg_math.jpg) no-repeat; width: 738px; height: 390px; margin: auto; position: relative; overflow: hidden;
}

.co_cont_itembx .co_math.co_qna, .co_cont_itembx .co_math.co_qna li {height: 530px;}
.co_cont .co_math.co_exam .inputBx {width: 640px;height: 120px;line-height: 120px;text-align: center;font-size: 70px;color: #333;float: right;overflow: hidden;}
.co_cont .co_math.co_exam .corBx {width: 643px;height: 120px;line-height: 120px;text-align: center;font-size: 70px;color: #333;float: right;overflow: hidden; margin-top: 20px;}
.co_cont_itembx.full .co_math li {
    background: url(../images/bg_math_full.jpg) no-repeat; width: 878px; height: 60px; margin-bottom: 5px;
}
.co_cont_itembx.full .co_math.co_qna li {height: 125px;margin-bottom: 15px;}
.co_cont .full .co_math.co_exam .inputBx {
    width: 232px;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
    font-weight: bold;
    padding-left: 0;
}
.co_cont .full .co_math.co_exam .corBx {
    width: 232px;
    font-size: 35px;
    color: #e62a01;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    padding-left: 0;
    height: 63px;
    line-height: 63px;
}
.co_cont .full .co_math.co_exam .question {width: 537px; font-size: 35px; color: #333; line-height: 60px; margin-bottom: 0; text-align: left; padding-left: 25px;}

.ContainerBx .contbx .co_cont.co_cont_single .co_qna.co_dic .question {font-size: 0;}
.ContainerBx .contbx .co_cont.co_cont_single .co_qna.co_dic .answer { border: 3px solid #999; height: auto; width: 717px; clear: both; margin-left: 0; font-size: 40px; text-align: left; padding: 40px 20px; line-height: 50px; background-color: #fff;}


/*check*/
.co_cont .co_qna .cor {background: url(../images/icon/icon_co_check.png) no-repeat 0 0; width: 100px; height: 100px; overflow: hidden;}
.co_cont .co_qna .wor {background: url(../images/icon/icon_co_check.png) no-repeat 0 -100px; width: 100px; height: 100px; overflow: hidden;}

.co_cont .full .co_qna .cor {background: url(../images/icon/icon_co_check_sm.png) no-repeat 0 0; width: 60px; height: 60px; overflow: hidden; margin-left: 0; margin-top: 0;}
.co_cont .full .co_qna .wor {background: url(../images/icon/icon_co_check_sm.png) no-repeat 0 -60px; width: 60px; height: 60px; overflow: hidden;}

/*scrollbar*/
.co_cont_itembx.full .co_dic::-webkit-scrollbar-track, .co_cont_itembx.full .co_math::-webkit-scrollbar-track
{
	background-color: #ccc;
}

.co_cont_itembx.full .co_dic::-webkit-scrollbar, .co_cont_itembx.full .co_math::-webkit-scrollbar
{
	width: 4px;
	background-color: #ccc;
}

.co_cont_itembx.full .co_dic::-webkit-scrollbar-thumb, .co_cont_itembx.full .co_math::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #df655e;
}

.co_cont_itembx.full .co_dic, .co_cont_itembx.full .co_math {
    -ms-overflow-style: auto;
    scrollbar-face-color: #df655e;
    scrollbar-highlight-color: #ccc;
    scrollbar-shadow-color: #ccc;
    scrollbar-arrow-color: #ccc;
    scrollbar-darkshadow-color: #ccc;
    scrollbar-3dlight-color: #ccc;
    scrollbar-base-color: #ccc;
    scrollbar-track-color: #ccc;
    height:670px; /*677px;*/
    overflow: hidden;
    scrollbar-width: 4px;
    margin-right: -10px;
    -webkit-margin-end:5px;
    padding-top: 13px;
    padding-left: 0;
    }

.co_cont_itembx.full .co_dic::-webkit-scrollbar, .co_cont_itembx.full .co_math::-webkit-scrollbar {width: 4px; height: 677px;}
.co_cont_itembx.full .co_dic::-webkit-scrollbar-button:start:decrement, .co_cont_itembx.full .co_math::-webkit-scrollbar-button:start:decrement, .co_cont_itembx.full .co_dic::-webkit-scrollbar-button:end:increment, .co_cont_itembx.full .co_math::-webkit-scrollbar-button:end:increment {display: block; height: 3px;}
.co_cont_itembx.full .co_dic::-webkit-scrollbar-track, .co_cont_itembx.full .co_math::-webkit-scrollbar-track {background: #ccc; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
.co_cont_itembx.full .co_dic::-webkit-scrollbar-thumb, .co_cont_itembx.full .co_math::-webkit-scrollbar-thumb {height: 50px; width: 4px; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

.co_cont_itembx.full .co_dic.co_qna, .co_cont_itembx.full .co_math.co_qna {
    height: 670px; /*739px;*/
    margin-bottom: 23px;
    overflow-y: auto;
}

/*android*/
#wrapper_template.a6 {-webkit-logical-height: 800px;}


.wrap_content .wrap_test_list.score_check.full:before {
  display: block;
  content: "";
  background: url(../images/ca.png) no-repeat;
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 133px;
  height: 162px;
  margin: 0 auto;
}
