@charset "utf-8";
.wrap {display:block; height:auto; overflow:hidden;}
label {font-weight:normal !important;}

* {word-break:break-all;}

/* login */
body.bgGray {background:#333;}
.loginTop {position:relative; height:400px; background:#58a83c;}
.loginTop .loginLogo {position:absolute; bottom:50px; left:0; width:100%; text-align:center;}
.loginCon {width:400px; margin:0 auto; overflow:hidden;}
.loginCon h1 {margin-top:44px; color:#bebebe; font-size:16px; font-weight:300; text-align:center;}
.loginCon .loginBox {margin-top:30px;}
.loginCon .loginInput { background:transparent; overflow:hidden; border-bottom: 1px solid #999; box-sizing: border-box;}
.loginCon .loginInput.on { border-bottom: 1px solid #fff; }
.loginCon .loginInput input::placeholder{color:#999;}
.loginCon .loginInput.on { border-bottom: 1px solid #fff; }
.loginCon .loginInput.on input::placeholder{color:#fff;}
.loginCon .loginInput .text {width:100%; height:58px; border:none; padding:0 0 0 72px; margin:0; border-radius:0; outline:none; color:#fff; font-size:16px; font-weight:400;}
.loginCon .loginInput .id {background:url('../img/ico_user01_w.png') no-repeat 26px center;}
.loginCon .loginInput .pw {background:url('../img/ico_lock01_w.png') no-repeat 25px center;}
.loginCon .loginBox button {display:block; width:100%; height:58px; margin-top:26px; background:#58a83c; color:#fff; font-size:18px; font-weight:700;}
.loginCon .loginBox .loginChk {margin-top:22px;}
.loginCon .loginBox .loginChk input[type="checkbox"] {display: none; width:18px; height:18px;}
.loginCon .loginBox .loginChk label {color:#fff; font-size:16px; vertical-align:middle;}
.loginCon .loginBox .loginChk label::before {content:""; display: inline-block; margin-right: 10px; width: 18px; height: 18px; vertical-align: -3px; background:#fff url("../img/check_off.png") no-repeat 50% 50%; -webkit-background-size: contain; background-size: contain; box-sizing: border-box;}
.loginCon .loginBox .loginChk input:checked + label::before {background:#fff url("../img/check_on.png") no-repeat 50% 50%; -webkit-background-size: contain; background-size: contain;}

/* layout */
.comnWrap {display:block; height:100%; overflow:hidden; overflow-x:auto; position:relative; padding:0 0px 0 230px; background:#FFF; min-width:1360px; min-height:1000px;}
.comnWrap.full {padding:0; min-width:100%; min-height:auto;}
.comnWrap .leftSec {position:absolute; left:0; top:0; width:230px; height:100%; background:#555; overflow:hidden; overflow-y:auto;}
.comnWrap .leftSec::-webkit-scrollbar,
.comnWrap .leftSec::-webkit-scrollbar {width: 5px;background:#252424;}
.comnWrap .leftSec::-webkit-scrollbar-thumb,
.comnWrap .leftSec::-webkit-scrollbar-thumb {background: #4f4f4f;border-radius:50px;}
.comnWrap .leftSec::-webkit-scrollbar-track,
.comnWrap .leftSec::-webkit-scrollbar-track {background: none;}
.comnWrap .leftSec .logo {display:block; height:auto; overflow:hidden; padding:40px 20px; text-align:center;}
.comnWrap .leftSec .logo img {width:105px;}
.comnWrap .leftSec .mngUtilSec {display:block; padding:20px; background:#444;}
.comnWrap .leftSec .mngUtilSec .mngName {color:#ccc; font-size:14px; font-weight:300; margin-bottom:3px;}
.comnWrap .leftSec .mngUtilSec .mngName em {color:#FFF; font-weight:500; font-size:16px; margin-right:4px;}
.comnWrap .leftSec .mngUtilSec .mngPart {color:#ccc; font-size:14px; font-weight:300; margin-bottom:15px;}
.comnWrap .leftSec .lnbSec {display:block; height:auto; padding:20px; position:relative;}
.comnWrap .leftSec .lnbSec:after {content:''; position:absolute; left:20px; top:-3px; width:40%; height:6px; background:#58a83c;}
.comnWrap .leftSec .lnbSec li {display:block; height:auto; overflow:hidden; position:relative; opacity:0.6; transition:.2s all;}
.comnWrap .leftSec .lnbSec li:hover {opacity:1.0;}
.comnWrap .leftSec .lnbSec li.on {opacity:1.0;}
.comnWrap .leftSec .lnbSec li .lnb {display:block; height:auto; position:relative; font-size:15px; border-bottom:1px solid #666;}
.comnWrap .leftSec .lnbSec li .lnb a {display:block; color:#FFF; padding:10px 10px 10px 5px;}
.comnWrap .leftSec .lnbSec li .lnb .ar {position:absolute; right:5px; top:15px; width:20px; height:11px; background:url(../img/ar_menu.png) no-repeat 50% 50%; background-size:15px 8px; transition:.2s all;}
.comnWrap .leftSec .lnbSec li .lnb .ar.on {transform: rotate( -180deg ); top:15px;}
.comnWrap .leftSec .lnbSec li dl {display:none; height:auto; overflow:hidden; padding:8px 15px; background:#666; border-radius:0 0 5px 5px;}
.comnWrap .leftSec .lnbSec li dl.on {display:block;}
.comnWrap .leftSec .lnbSec li dl dd {display:block; height:auto; font-size:14px; position:relative;}
.comnWrap .leftSec .lnbSec li dl dd a {display:block; color:#ccc; transition:.2s all; padding:3px 0 3px 10px;}
.comnWrap .leftSec .lnbSec li dl dd a:hover {color:#FFF;}
.comnWrap .leftSec .lnbSec li dl dd.on a {color:#FFF;}
.comnWrap .leftSec .lnbSec li dl dd:after {content:''; position:absolute; left:0; top:50%; transform:translate(0, -50%); width:4px; height:1px; background:#ccc;}
.comnWrap .leftSec .lnbSec li.on dl {display:block !important;}

.comnWrap .container {display:block; height:auto; overflow:hidden;}
.comnWrap .content {clear:both; display:block; height:auto; overflow:hidden; padding:0 20px 20px 20px;}
.comnWrap .content.clean {padding:0; background:none; border:0; border-radius:0;}
.gnbSec {display:block; height:auto; overflow:hidden; padding:0 0 0 20px; border-bottom:1px solid #666; margin-bottom:20px; background:#ccc;}
.gnbSec .gnbMenu {float:left; width:160px; height:40px; line-height:40px; background:#444; text-align:center; font-size:14px; border-right:1px solid #ccc; box-sizing:border-box;}
.gnbSec .gnbMenu a {display:block; color:#FFF; font-weight:400;}
.gnbSec .gnbMenu a:hover {background:#555;}
.gnbSec .gnbMenu.on a {background:#58a83c;}
.gnbSec2 {display:block; height:auto; overflow:hidden; padding:0 0 0 20px; border-bottom:0px solid #666; margin-bottom:20px; }
.gnbSec3 {display:block; height:2px; overflow:hidden; padding:0 0 0 20px; border-bottom:0px solid #666; margin-bottom:20px; }

/* page Element */
.pageTitle {display:block; height:auto; overflow:hidden; padding:5px 0 5px 20px; font-size:18px; color:#333; letter-spacing:0px; position:relative;}
.pageTitle:after {content:''; position:absolute; left:5px; top:50%; transform:translate(0, -50%); width:7px; height:2px; background:#58a83c;}
.highTitle {display:block; height:auto; overflow:hidden; padding:5px 0 10px 0; margin-bottom:0px; font-size:20px; color:#666; letter-spacing:0px; position:relative; font-weight:500; border-bottom:1px solid #c5c5c5; margin-bottom:10px;}
.highTitle span {display:inline-block; margin-right:10px; padding-right:13px; position:relative;}
.highTitle span:after {content:''; position:absolute; right:0px; top:50%; transform:translate(0, -50%); width:1px; height:15px; background:#c5c5c5;}
.highTitle span:last-child:after {background:none;}
.highTitle span em {display:inline-block; margin-left:10px; font-weight:300; color:#f15d2b;}
.midTitle {display:block; height:auto; overflow:hidden; padding:5px 0 5px 15px; margin-bottom:5px; font-size:16px; color:#333; letter-spacing:0px; position:relative; font-weight:400;}
.midTitle:after {content:''; position:absolute; left:5px; top:50%; transform:translate(0, -50%); width:3px; height:3px; background:#333; border-radius:50%;}

.conBlock {clear:both; display:block; height:auto; overflow:hidden; padding:10px 0; position:relative;}
.conBlock .halfCon {float:left; width:49.5%; margin-right:1%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .halfCon.clean {border:0; border-radius:0; background:none; padding:0;}
.conBlock .halfCon:last-child {margin-right:0;}
.conBlock .thirdCon {float:left; width:32.666%; margin-right:1%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .thirdCon:last-child {margin-right:0;}
.conBlock .left30Con {float:left; width:29%; margin-right:1%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .left70Con {float:left; width:70%; margin-right:0%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .right70Con {float:left; width:70%; margin-right:0%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .right30Con {float:left; width:29%; margin-left:1%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .left25Con {float:left; width:25%; margin-right:1%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .left50Con {float:left; width:48%; margin-right:0%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .right25Con {float:left; width:25%; margin-left:1%; height:auto; overflow:hidden; border:1px solid #eee; background:#FFF; padding:20px;}
.conBlock .fullCon {clear:both; display:block; height:auto; overflow:hidden; border-top:1px solid #ccc; background:#FFF; padding:20px 0;}
.conBlock .fullCon.marMinus {margin-top:-1px;}

.conBlock .left30Con.clean, 
.conBlock .left70Con.clean, 
.conBlock .right70Con.clean, 
.conBlock .right30Con.clean, 
.conBlock .fullCon.clean, 
.conBlock .left25Con.clean, 
.conBlock .left50Con.clean, 
.conBlock .right25Con.clean {border:0; border-radius:0; background:none; padding:0;}

.conBlock select {display:inline-block; width:auto; height:28px; line-height:26px; border:1px solid #ccc; border-radius:3px; -webkit-appearance: none; -moz-appearance:none; appearance: none; background:#f9f9f9 url(../img/ar_select.png) no-repeat right 50%; background-size:19px 6px; padding:0 50px 0 10px; font-size:13px;}
.conBlock select::-ms-expand {display: none;}
.conBlock select.small {height:30px; line-height:28px; margin:0 5px;}

.conBlock input[type="text"], .conBlock input[type="password"], .conBlock input[type="number"], .conBlock input[type="date"], .conBlock input[type="file"] {display:inline-block; width:100%; height:28px; line-height:26px; background:#f9f9f9; border:1px solid #ccc; padding:0 10px; box-sizing:border-box; font-size:14px; color:#333; border-radius:3px; box-sizing:border-box;}
.conBlock input.w {background:#FFF;}

.tabMenu {display:block; height:auto; overflow:hidden; position:relative; z-index:10;}
.tabMenu .cauTxt {position:absolute; right:0; top:50%; transform:translate(0, -50%); text-align:right; font-size:14px; color:#999;}
.tabMenu li {float:left; width:160px; font-size:13px; border:1px solid #ccc; margin-left:-1px; text-align:center; background:#f0f0f0;}
.tabMenu li a {display:block; color:#666; padding:8px 20px;}
.tabMenu li.on {background:#FFF; border-bottom:1px solid #FFF;}
.tabMenu li:first-child {margin-left:0;}
.tabMenu.faq li {width:auto;}

.allChk {clear:both; padding:10px 0;}
.desc {clear:both; display:block; height:auto; overflow:hidden; padding:10px 0; position:relative; font-size:14px; font-weight:300;}
.desc .schWording {float:left; height:auto; overflow:hidden;}
.desc .schWording i {display:inline-block; padding-right:12px; margin-right:8px; color:#e26637; position:relative; font-weight:400;}
.desc .schWording i a {color:#e26637;}
.desc .schWording i a:hover {text-decoration:underline; text-underline-position: under;}
.desc .schWording i:after {content:''; position:absolute; right:0; top:50%; transform:translate(0, -50%); width:1px; height:10px; background:#ccc;}
.desc .schWording i:last-child {padding-right:0; margin-right:0;}
.desc .schWording i:last-child:after {background:none;}
.desc .totalCount {position:absolute; right:0; top:50%; transform:translate(0, -50%); text-align:right;}
.desc .totalCount em {font-weight:400; color:#e26637;}

.listTable {clear:both; display:block; height:auto; overflow:hidden;}
.listTable .chkN input + span {padding:0 0 0 19px; vertical-align:top;}
.listTable table {padding:0; margin:0; width:100%; table-layout:fixed;}
.listTable th, .listTable td {border:1px solid #ddd; padding:8px; font-size:14px; text-align:center; word-break:break-all;}
.listTable th {font-weight:400; background:#f8fdf4; text-align:center; border-top:1px solid #999; border-bottom:1px solid #999;}
.listTable th:first-child, .listTable td:first-child {border-left:0;}
.listTable th:last-child, .listTable td:last-child {border-right:0;}
.listTable td {font-weight:300;}
.listTable td.link a {color:#3574dd; text-decoration:underline; font-weight:500;}
.listTable tr.hr, .listTable th.hr, .listTable td.hr {border-bottom:1px solid #aaa;}
.listTable tr:hover {background:#f8f8f8;}
.listTable textarea {display:inline-block; width:100%; height:100px; padding:15px; font-size:14px; color:#333; border:1px solid #ddd; background:#FFF; box-sizing:border-box;}

.itemTable {clear:both; display:block; height:auto; overflow:hidden;}
.itemTable table {padding:0; margin:0; width:100%; table-layout:fixed;}
.itemTable th, .itemTable td {padding:8px; font-size:12px;}
.itemTable th {font-weight:400; background:#fff6f3; text-align:left; border-right:1px solid #ddd;}
.itemTable td {font-weight:300; text-align:left;}
.itemTable td a:hover {color:#e26637;}
.itemTable tr:hover {background:#f8f8f8;}
.itemTable tr:first-child {border-top:1px solid #999;}
.itemTable tr {border-bottom:1px solid #ddd;}
.itemTable tr.devide {border-bottom:1px solid #999;}

.inputTable {clear:both; display:block; height:auto; overflow:hidden;}
.inputTable .cauTxt {display:block; height:auto; overflow:hidden; text-align:right; font-size:14px; color:#999; margin-bottom:10px;}
.inputTable table {padding:0; margin:0; width:100%; table-layout:fixed;}
.inputTable th, .inputTable td {border:1px solid #ddd; padding:8px; font-size:14px;}
.inputTable th {font-weight:400; background:#f8f8f8; text-align:left; padding:8px 15px;}
.inputTable th:first-child, .inputTable td:first-child {border-left:0;}
.inputTable th:last-child, .inputTable td:last-child {border-right:0;}
.inputTable td {font-weight:300; text-align:left;}
.inputTable tr.quest {background:#f0f0f0;}
.inputTable tr.quest th {background:#f0f0f0;}

.inputTable input[type="text"], .inputTable input[type="password"], .inputTable input[type="number"], .inputTable input[type="date"] {background:#f9f9f9; vertical-align:middle; margin-right:5px;}
.inputTable textarea {display:inline-block; width:100%; height:200px; line-height:24px; background:#FFF; border:1px solid #ccc; padding:10px; box-sizing:border-box; font-size:14px; color:#333; border-radius:5px; box-sizing:border-box;}
.inputTable select {margin-right:5px;}
.inputTable label {margin-right:20px;}
.inputTable label.radioN, .inputTable label.chkN {margin-right:0;}
.inputTable label:last-child {margin-right:0px;}

.inputTable .listTable th, .inputTable .listTable td {border:1px solid #ddd; padding:8px; font-size:14px; text-align:center;}
.inputTable .listTable th {font-weight:400; background:#f8fdf4; text-align:center; border-bottom:1px solid #999;}

.inputTable .itemTable th, .itemTable td {padding:8px; border:1px solid #ddd !important;}

.innerTd {display:block; height:auto; overflow:hidden; position:relative; text-align:left;}
.invoiceTxt {color:#000; margin-right:10px; font-weight:400;}
.bar {display:inline-block; padding-left:15px; margin-right:15px; position:relative; vertical-align:12px;}
.bar:after {content:''; position:absolute; right:0; top:0; width:1px; height:14px; background:#aaa;}

.cmtInput {display:block; height:auto; overflow:hidden; margin-bottom:15px; position:relative; padding-right:100px;}
.cmtInput textarea {display:inline-block; width:100%; height:100px; padding:15px; font-size:14px; color:#333; border:1px solid #ddd; background:#f0f0f0; box-sizing:border-box;}
.cmtInput button.btnCmt {position:absolute; right:0; top:0; width:100px; height:100px; background:#333; color:#FFF; font-weight:500; font-size:16px; text-align:center;}

.contSearch {display:block; height:auto; overflow:hidden; padding-bottom:15px; margin-bottom:10px; border-bottom:1px dashed #ccc;}
.contSearch .schOption {display:block; height:auto; overflow:hidden; padding-bottom:8px;}
.contSearch .schOption select, .contSearch .schOption input[type="text"] {margin-right:5px;}
.contSearch .schOption.inline {display:inline-block; width:auto; vertical-align:middle; padding-bottom:0;}
.periodSec {display:block; height:auto; overflow:hidden;}
.periodSec.inline {display:inline-block; width:auto; vertical-align:middle; margin-left:10px;}
.periodSec .calendar {width:150px !important; background:#FFF url(../img/ico_cal.png) no-repeat 120px 50% !important;}

.setPeriod {display:inline-block; height:auto; vertical-align:middle; margin-left:10px;}
.setPeriod .setBtn a {float:left; height:28px; line-height:26px; font-size:12px; padding:0 15px; color:#666; background:#f0f0f0; border:1px solid #eee; box-sizing:border-box; margin-right:2px;}
.setPeriod .setBtn.on a {background:#666; color:#FFF;}

.resultGuideSec {display:block; height:auto; overflow:hidden; padding:10px 0;}
.resultGuideSec .halfGuide {float:left; width:50%; height:auto; font-size:14px; color:#666;}
.resultGuideSec .halfGuide b {color:#333; font-weight:500;}

.itemFuncSec {display:block; height:auto; overflow:hidden; padding:10px 0;}
.itemFuncSec .half {float:left; width:50%; height:auto;}

.photoList {display:block; height:auto; overflow:hidden;}
.photoList li {float:left; width:200px; height:200px; overflow:hidden; margin:0 10px 10px 0;}
.photoList li img {width:200px; height:200px;}

.caseList {display:block; height:auto;}
.caseList li {display:block; position:relative; line-height:28px; margin-bottom:10px;}
.caseList li:last-child {margin-bottom:0;}
.caseList li dl {display:block; height:auto; overflow:hidden;}
.caseList li dl dd {display:block; height:auto; position:relative; margin-bottom:10px;}
.caseList li dl dd:last-child {margin-bottom:0;}
.caseList.device li {float:left; width:33.3333%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.noMar {margin:0 !important;}
img.prdImg {width:60px; height:60px;}
.tdInner {display:block; height:auto; overflow:hidden; position:relative;}
.cateDepth {position:absolute; right:0; top:50%; transform:translate(0, -50%); text-align:right; font-size:15px; color:#666;}
.cateDepth b {color:#333;}
.cateCount {display:inline-block; padding:0 15px; font-size:16px; font-weight:500; color:#333; vertical-align:middle;}

.sortBy a {display:inline-block; padding:0 5px; color:#bbb;}
.sortBy a:hover {color:#333;}
.sortBy.on a {color:#333; font-weight:500;}
.sortBy a.on {color:#00ba2c; font-weight:500;}

.statsModify {display:inline-block; vertical-align:middle; margin-left:20px; padding-left:20px; position:relative;}
.statsModify:after {content:''; position:absolute; left:0; top:50%; transform:translate(0, -50%); width:1px; height:18px; background:#666;}
.statsModify.noLine {margin-left:0; padding-left:0;}
.statsModify.noLine:after {background:none;}

.itemList {display:block; height:auto; overflow:hidden; padding:10px 0;}
.itemList li {display:block; height:auto; overflow:hidden; padding:3px 0 3px 15px; position:relative; font-size:14px;}
.itemList li:after {content:''; position:absolute; left:5px; top:12px; width:3px; height:3px; background:#666;}

.platList {display:block; height:auto; overflow:hidden; padding:0;}
.platList li {display:block; height:auto; overflow:hidden; padding:5px 0; position:relative;}

.ordCh {display:inline-block; padding:1px 0px; color:#FFF; border-radius:2px; margin-right:5px; background:#555; font-size:11px; width:30px; text-align:center;}
.ordCh.pc {background:#205fbc;}
.ordCh.mo {background:#6abc20;}
.ordCh.ap {background:#bc3320;}

.prdStats {display:inline-block; font-size:14px; padding-right:15px; margin-right:10px; position:relative;}
.prdStats:after {content:''; position:absolute; right:0; top:50%; transform:translate(0, -50%); width:1px; height:14px; background:#ccc;}
.prdStats:last-child {padding-right:0; margin-right:0;}
.prdStats:last-child:after {background:none;}
.prdStats a:hover {text-decoration:underline;}

.reasonList {display:block; height:auto; overflow:hidden; border:1px solid #ddd; background:#f0f0f0; padding:10px;}
.reasonList li {display:block; height:auto; overflow:hidden; padding:3px 0 3px 15px; position:relative; line-height:20px; font-size:14px; color:#333; text-align:left !important;}
.reasonList li:after {content:''; position:absolute; left:0; top:13px; width:3px; height:3px; background:#333;}

.listTable .reasonList {background:none; border:0; padding:0 0 0 20px;}
.listTable .reasonList li {padding-left:10px;}
.listTable .reasonList li:after {content:''; position:absolute; left:0px; width:4px; height:1px;}

.exOptSel {clear:both; display:block; height:auto; overflow:hidden; margin-top:10px;}
.exOptSel dt, .exOptSel dd {float:left; padding:5px; box-sizing:border-box; text-align:left; border:1px solid #ccc;}
.exOptSel dt {width:12%; height:40px; line-height:40px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding:0 10px; background:#eee; border-left:0; border-right:0;}
.exOptSel dd {width:21.33333%; border-right:0;}
.exOptSel dd select {width:100%;}

.resPhoto {clear:both; display:block; height:auto; overflow:hidden; margin-top:10px;}
.resPhoto li {display:block; height:auto; overflow:hidden; text-align:center; margin-bottom:10px;}
.resPhoto li img {max-width:100%;}

.bnrBox {display:block; height:auto; overflow:hidden; padding:10px 100px 20px 10px; margin-bottom:20px; border-bottom:1px dashed #666; position:relative;}
.bnrBox .titleSec {clear:both; display:block; height:auto; overflow:hidden; margin-bottom:10px;}
.bnrBox .titleSec .title {float:left; width:100px;}
.bnrBox .deviceTarget {float:left; width:48%; height:auto; overflow:hidden; position:relative; margin-right:4%;}
.bnrBox .deviceTarget.end {margin-right:0;}
.bnrBox .tScreen {color:#000; font-size:16px; font-weight:900; margin-bottom:5px;}
.bnrBox:last-child {margin-bottom:0; padding-bottom:0; border-bottom:0;}
.bnrBox button {position:absolute; right:0; top:50%; transform:translate(0, -50%); width:80px; height:80px; border:0; text-align:center; font-size:16px; font-weight:500; border-radius:5px; cursor:pointer;}
.bnrBox button.btnAdd {background:#333; color:#FFF;}
.bnrBox button.btnDel {background:#f0f0f0; border:1px solid #d0d0d0; color:#666;}
.bnrBox .deviceTarget li {display:block; height:auto; overflow:hidden; padding:5px 0 5px 100px; position:relative;}
.bnrBox .deviceTarget li .title {position:absolute; left:0; top:8px; font-size:14px; color:#333;}
.bnrBox .deviceTarget li input[type="text"], .bnrBox li input[type="file"] {float:left;}
.bnrBox .deviceTarget li .target {clear:both; display:block; height:auto; overflow:hidden; padding:10px 0 0 0px;}
.bnrBox .deviceTarget li img {max-width:100%;}
/*
.bnrBox .direction {position:absolute; left:10px; top:50%; transform:translate(0, -50%); width:110px; height:auto; font-weight:900;}
*/
.bnrBox .direction {display:block; height:auto; overflow:hidden; font-weight:900; margin-bottom:15px; font-size:18px;}

.tPrice {display:block; text-align:right; font-size:24px;}
.tDesc {clear:both; display:block; height:auto; overflow:hidden; margin-top:10px; padding:0 5px;}
.tDesc dt, .tDesc dd {float:left; width:50%; height:auto; overflow:hidden; line-height:24px; letter-spacing:0;}
.tDesc dt {text-align:left;}
.tDesc dd {text-align:right;}
.bold {font-weight:500;}

/* pagination */
.pagingWrap {display:block; height:40px; overflow:hidden; position:relative; width:520px; box-sizing:border-box; padding:0 79px; margin:15px auto;}
.pagingWrap .prevGroup {position:absolute; left:0; top:0;}
.pagingWrap .prevGroup .btnBackword a {float:left; width:40px; height:40px; border:1px solid #e2e2e2; background:url(../img/btn_backword.png) no-repeat 50% 50%; box-sizing:border-box;}
.pagingWrap .prevGroup .btnPrev a {float:left; width:40px; height:40px; border:1px solid #e2e2e2; background:url(../img/btn_prev.png) no-repeat 50% 50%; box-sizing:border-box; margin-left:-1px;}
.pagingWrap .nextGroup {position:absolute; right:0; top:0;}
.pagingWrap .nextGroup .btnForword a {float:right; width:40px; height:40px; border:1px solid #e2e2e2; background:url(../img/btn_forword.png) no-repeat 50% 50%; box-sizing:border-box;}
.pagingWrap .nextGroup .btnNext a {float:right; width:40px; height:40px; border:1px solid #e2e2e2; background:url(../img/btn_next.png) no-repeat 50% 50%; box-sizing:border-box; margin-right:-1px;}
.pagingWrap .nextGroup .btnNext:last-child a {margin-right:0;}
.pagingWrap .paging {display:block; height:auto; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center;}
.pagingWrap .paging .num a {display:inline-block; width:30px; height:40px; line-height:40px; text-align:center; font-size:14px; color:#999; position:relative;}
.pagingWrap .paging .num.on a {color:#58a83c; font-weight:700;}
.pagingWrap .paging .num.on a:after {content:''; position:absolute; left:50%; bottom:5px; transform:translate(-50%, 0); width:15px; height:2px; background:#58a83c;}
.pagingWrap .paging .num a:hover {color:#58a83c; font-weight:700;}
.pagingWrap .paging .num a:hover:after {content:''; position:absolute; left:50%; bottom:5px; transform:translate(-50%, 0); width:15px; height:2px; background:#58a83c;}

/* btn */
.btnAbs {position:absolute; right:0; top:50%; transform:translate(0, -50%);}
.btnArea {clear:both; display:block; height:auto; overflow:hidden;}
.btnSec {clear:both; display:block; height:auto; overflow:hidden; margin:30px 0;}
.absBtns {position:absolute; right:0; top:50%; transform:translate(0, -50%); text-align:right;}
.btn a {display:inline-block; height:40px; line-height:40px; text-align:center; font-size:14px; color:#FFF; font-weight:400; border-radius:4px; letter-spacing:0px; padding:0 15px; vertical-align:middle;}
.btnS a {display:inline-block; height:auto; text-align:center; font-size:13px; color:#FFF; font-weight:400; border-radius:4px; letter-spacing:0px; padding:5px 15px; vertical-align:middle;}
.btnB a {display:inline-block; width:100%; height:60px; line-height:60px; text-align:center; font-size:16px; color:#FFF; font-weight:400; border-radius:4px; letter-spacing:0px; vertical-align:middle;}
.btnLine a {display:inline-block; height:40px; line-height:38px; text-align:center; font-size:14px; font-weight:400; border-radius:4px; letter-spacing:0px; padding:0 15px; vertical-align:middle; background:#FFF;}
.orange a {background:#e26637;}
.green a {background:#3ca865;}
.gray a {background:#666;}
.dGray a {background:#444;}
.black a {background:#000;}
.lineO a {border:1px solid #e26637; color:#e26637;}
.lineG a {background:#f0f0f0; border:1px solid #d0d0d0; color:#666;}



button.btnSch, input[type="button"].prd-del {display:inline-block; height:28px; line-height:28px; text-align:center; font-size:14px; color:#FFF; font-weight:400; border-radius:4px; letter-spacing:0px; padding:0 15px; background:#555; margin:0 5px;}
input[type="button"].prd-del{height:auto}
button.lineBtn {display:inline-block; height:28px; font-size:13px; color:#FFF; font-weight:400; border-radius:4px; letter-spacing:0px; padding:0px 15px; vertical-align:middle; background:#555; border:1px solid #444; cursor:pointer;}
input[type="submit"] {display:inline-block; height:40px; text-align:center; font-size:14px; color:#FFF; font-weight:400; border-radius:4px; letter-spacing:0px; padding:0 20px; vertical-align:middle; background:#666; border:0; cursor:pointer;}
input[type="submit"].del {display:inline-block; height:auto; font-size:13px; color:#666; font-weight:400; border-radius:4px; letter-spacing:0px; padding:3px 10px; vertical-align:middle; background:#f0f0f0; border:1px solid #d0d0d0; cursor:pointer;}
input[type="submit"].delBig {display:inline-block; height:28px; font-size:13px; color:#666; font-weight:400; border-radius:4px; letter-spacing:0px; padding:0px 15px; vertical-align:middle; background:#f0f0f0; border:1px solid #d0d0d0; cursor:pointer;}
input[type="submit"].add {display:inline-block; height:auto; font-size:13px; color:#FFF; font-weight:400; border-radius:4px; letter-spacing:0px; padding:3px 10px; vertical-align:middle; background:#666; border:1px solid #666; cursor:pointer;}

/* bbsSearch */
.bbsSearch {display:inline-block; height:auto; overflow:hidden; border:1px solid #ccc; background:#FFF; border-radius:5px; vertical-align:middle; margin-right:20px;}
.bbsSearch select {border:0; background-position:90% 50%;}
.bbsSearch .schCate {float:left;}
.bbsSearch .bbsSchInput {float:left; position:relative; padding-right:60px;}
.bbsSearch .bbsSchInput:after {content:''; position:absolute; left:0; top:0; width:1px; height:100%; background:#eee;}
.bbsSearch .bbsSchInput input[type="text"], .bbsSearch .bbsSchInput input[type="number"], .bbsSearch .bbsSchInput input[type="date"] {background:#FFF; border:0;}
.bbsSearch .bbsSchInput button.bbsSch {position:absolute; right:0; top:0; width:60px; height:28px; border:0; background:#58a83c; color:#FFF; font-size:14px;}

.sizeGuide {float:right; margin-left:30px; font-weight:400; color:#ff4444; font-size:14px;}