.card {
	background-color: #ececec
}

.btn-green {
	color: #fff;
	background-color: #00cbb4;
	border-color: #00cbb4;
}

.btn-green:hover {
	color: #fff;
	background-color: #02dec5;
	border-color: #02dec5;
}

.btn-outline-green {
	color: #00cbb4;
	border-color: #00cbb4;
}

.btn-outline-green:hover {
	color: #fff;
	background-color: #02dec5;
	border-color: #02dec5;
}

.btn-input-file {
	padding: 6px 25px;
	background-color: #adadad;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

hr {
	visibility: visible;
	margin-top: 0rem;
	margin-bottom: 0.7rem;
	width: 100%;
}

.text-right {
	display: block;
	text-align: right;
}

.label-text-blue {
	color: #5a5af5
}

.input-no-outline {
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
}

.tui-grid-cell-row-header span {
	color: #333
}

.grid-text-color strong {
	color: #5a5af5
}

.tui-grid-container input, .tui-grid-container textarea, .tui-grid-container button {
	-webkit-appearance: auto;
	-moz-appearance: auto;
	appearance: auto;
}

.mouse-click-cursor {
	cursor: pointer
}

.text-color-blue strong {
	color: #5a5af5
}

.text-underline strong {
	text-decoration: underline;
	cursor: pointer
}

.text-vertical-middle {
	vertical-align: middle
}

.table-th-color th {
	background-color: #00cbb4;
}

.table-th-color th label{
	color: white;
}

.table-th-color-gray th {
	background-color: #959898;
}

.table-th-color-gray th label{
	color: white;
}

.page-sub-title {
	display: block;
	height: auto;
	overflow: hidden;
	padding: 12px 0 5px 20px;
	font-size: 14px;
	color: #333;
	letter-spacing: 0px;
	position: relative;
}

.page-sub-title:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 62%;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background: #696968;
}

.col-form-label {
	padding-top: calc(0.1rem + 1px);
	padding-bottom: calc(.1rem + 1px);
}

.has-search {
	width: 100%;
}

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.1rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

.modal-header {
	padding: 9px 9px;
	border-bottom: 1px solid #2b2b2b;
	background-color: #2b2b2b;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.modal-header button > span {
	color: #fff
}

.modal-title {
	color:  #fff;
	font-size: 15px;
}

.modal-content {
	border-radius: 0;
	border: 0px solid rgba(0,0,0,.2);
}

.tata-title {
	color:  #fff;
}

.form-control[readonly] {
	background-color: #ffffff;
}