@charset "utf-8";
@import "reset.css";

@font-face {
    font-family: 'poorStoryR';
    src: url('../../../../../html/font/PoorStory-Regular.woff') format('woff'),
        url('/html/font/PoorStory-Regular.woff') format('woff');
}
@font-face {
    font-family: 'RobotoSlabB';
    src: url('../../../../../html/font/RobotoSlab-Regular.woff') format('woff'),
        url('/html/font/RobotoSlab-Regular.woff') format('woff');
}
@font-face {
    font-family: 'RobotoSlabR';
    src: url('../../../../../html/font/RobotoSlab-Regular.woff') format('woff'),
        url('/html/font/RobotoSlab-Regular.woff') format('woff');
}
@font-face {
    font-family: 'GodoM';
    src: url('../../../../../html/font/GodoM.woff') format('woff'),
        url('/html/font/GodoM.woff') format('woff');
}
@font-face {
    font-family: 'GodoB';
    src: url('../../../../../html/font/GodoB.woff') format('woff'),
        url('/html/font/GodoB.woff') format('woff');
}
/* 경기천년제목OTF */
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('../../../../../html/font/zAOIZ_Medium.woff') format('woff'),
        url('/html/font/zAOIZ_Medium.woff') format('woff');
}
/* 나눔고딕 */
@font-face {
    font-family: 'NanumGothic';
    src: url('../../../../../html/font/NanumGothic.woff') format('woff'),
        url('/html/font/NanumGothic.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothicBold';
    src: url('../../../../../html/font/NanumGothicBold.woff') format('woff'),
        url('/html/font/NanumGothicBold.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothicEB';
    src: url('../../../../../html/font/NanumGothicEB.woff') format('woff'),
        url('/html/font/NanumGothicEB.woff') format('woff');
}


/* layout */
body{overflow: hidden;}
#wrap{overflow: hidden;}
.video-cont{ height:800px !important; }
#container{position: absolute;;width:1280px;height:800px;overflow:hidden;
    /* margin:0 auto; */
    transform-origin: 0 0;
    will-change: transform;
}


/* 공통 */
.disable{
    pointer-events: none;
}
.remove
{
    display: none !important;
}
.hide
{
    visibility: hidden;
}
.align-v-c
{
    display: flex;
    align-items: center;
}
.align-v-b
{
    display: flex;
    align-items: baseline;
}

.align-h-c
{
    display: flex;
    justify-content: center;
}

.align-v-h-c
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 폰트 */
.poorb-35{
    font-family: "poorStoryR";
    font-size:35px;
    font-weight: bold;
}

/* css 애니메이션 */
@keyframes scaleEaseBack {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    85% {
        opacity: 1;
        transform: scale(1.05);
    }
    100%
    {
        opacity: 1;
        transform: scale(1);
    }
}

.ani-scaleEaseBack
{
    animation-name: scaleEaseBack;
    /* animation-delay: 1.5s; */
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes textBoxEffect {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    25% {
        opacity: 0.8;
        transform: scale(1.025);
    }
    50%
    {
        opacity: 0;
        transform: scale(1.05);
    }
    100%
    {
        opacity: 0;
        transform: scale(1);
    }
}

.ani-textBoxEffect
{
    animation-name: textBoxEffect;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes textBoxEffect2 {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }
    15% {
        opacity: 1;
        transform: scale(1.05);
    }
    30%
    {
        opacity: 0;
        transform: scale(1.1);
    }
    100%
    {
        opacity: 0;
    }
}

.ani-textBoxEffect2
{
    animation-name: textBoxEffect2;
    animation-delay: 0.3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes wordEffect {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 0;
    }
}

.ani-wordEffect
{
    animation-name: wordEffect;
    animation-duration: 0.5s;
    animation-iteration-count: 4;
    animation-direction: alternate-reverse
    ;
}

@keyframes wordBoxScale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(4);
    }
}

.ani-wordBoxScale
{
    animation-name: wordBoxScale;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    ;
}

@keyframes wordShow {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.ani-wordShow
{
    animation-name: wordShow;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    ;
}

@keyframes word-img {
    0% {
        transform: translate(200px, 0) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translate(200px, 0) scale(1);
        opacity: 1;
    }
}
@keyframes word-img2 {
    0%{
        transform: translate(200px, 0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

.ani-word-img
{
    animation-name: word-img;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    ;
}
.ani-word-img2
{
    animation-name: word-img2;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    ;
}

@keyframes word-text {
    0% {
        transform: translate(0, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 50px);
        opacity: 1;
    }
}

@keyframes word-text2 {
    0% {
        transform: translate(0, 50px);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes word-text2-ko {
    0% {
        transform: translate(0, 50px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.ani-word-text
{
    animation-name: word-text;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    ;
}

.ani-word-text2
{
    animation-name: word-text2;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    ;
}

.ani-word-text2-ko
{
    animation-name: word-text2-ko;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    ;
}

/* player */
@keyframes ani-flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
/* preveiw go button */
@keyframes ani-flash2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}
