/**
 * z-index
 * -1 툴 옵션 비활성화
 * 0 밑그림
 * 1 canvas 캔버스 / dd.on 툴 옵션창 활성화
 * 2 나만의 정리, 나만의퀴즈 타이틀
 * 5 각종 팝업
 * 7 삭제 확인 팝업
 * 10 api 실패 alert
 */

@charset "utf-8";
*{-ms-user-select:none; -moz-user-select:-moz-none; -webkit-user-select:none; -khtml-user-select:none; user-select:none; -webkit-tap-highlight-color:transparent; box-sizing:border-box}
*{margin:0; padding:0; box-sizing:border-box; color:#333; -webkit-tap-highlight-color :transparent !important}
*::selection{background-color:rgba(0,0,0,0)}
a{text-decoration:none}
li{list-style:none}
html, body,
h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd,
form, fieldset, input, textarea, select, button,
div, span, section, article,
blockquote, p, address, pre, cite,
iframe, table, th, td {margin:0; padding:0; box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-weight:normal;}
fieldset, table, img {border:0 none;}
ul, ol, li {list-style-type:none;}
table {border-collapse:collapse;}
capxion, th {text-align:left;}
th {font-weight:normal;}
img {vertical-align:middle;}
label, input, select, textarea, button {vertical-align:middle;}
label, button {cursor:pointer;}
legend {position:absolute; font-size:0; line-height:0;}
strong, em, address, cite {font-weight:normal;font-style: normal;}
hr {display:none;}
button {background-color: transparent;outline: none;border: none;}
mark {background-color: transparent;color: inherit;}
textarea {background-color: transparent;border: none;outline: none;resize: none;line-height:1;}
input {background-color: transparent;border: none;outline: none;line-height:1;}

.wrap{position:relative; width:100%; height:100vh; min-width:1280px; background-position:center; background-size:cover; background-repeat:no-repeat}
body {overflow: hidden;position: relative;line-height: 1;touch-action: none;}
#wrap {width: 1280px;height: 800px;transform-origin: 0 0;position: relative;}
.hide {display: none !important;}

/* 캔버스 */
.canvasWrap {width: 1248px;height: 630px;border-radius: 20px;position: relative;}
.canvasWrap .scroll {width: 100%;height: 100%;position: relative;overflow: visible;}
.canvasWrap .scroll > div {display: flex;justify-content: center;align-items: center;width: 1248px;height: 630px;position: absolute;touch-action: none;transform-origin: 0 0;top: 0;/* right: -100%; */left: 0;/* bottom: -100%; */overflow: hidden;}
.canvasWrap canvas {position: absolute;top: 0;left: 0;z-index: 1;}
.canvasWrap canvas {width: 1248px;height: 630px;position: absolute}
.canvasWrap .scroll > div img {position: relative;pointer-events: none;z-index: 0;}

/* 그리기 tool */
.drawTool {display: flex;font-family:'NotoSansKR-Bold'; font-size: 24px;position: absolute;left: 0;right: 0;bottom: 0; background-image: url(../images/bottom.png); height: 100px;}
.drawTool [data-complete] {background-color: #65c71e;}
.drawTool [data-next]::before {border-right-color: #86d7dc;}
.drawTool [data-save]::before {content: none;}
.drawTool [data-complete]::before {content: none;}
.drawTool dt * {pointer-events: none;}
.drawTool [data-drawing-tool="eraser"] i {margin-right: 8px;}
.drawTool [data-prev] i {margin-right: 9px; position:relative; top:3px}
.drawTool [data-next] i {margin-left: 9px; position:relative; top:3px}
.drawTool [data-temporary] i {margin-right: 6px;}
.drawTool [data-save] i {margin-right: 10px;}
.drawTool [data-complete] i {margin-right: 10px;}
.drawTool [data-drawing-tool="eraser"] img {align-self: flex-end;}
.drawTool dd {display: flex;position: absolute;left: 84px;bottom: 50px;opacity: 0;pointer-events: none;z-index: -1;}
.drawTool dd.on {opacity: 1;pointer-events: visible;z-index: 1;}
.drawTool .color + dd { left: 168px; bottom: 73px;}
#bg {background-color: #fff;position: absolute;left: 0;top: 0;}
#bg{background-position:center; background-size:cover; background-repeat:no-repeat}
@media screen and (max-width:1280px){ #wrap{overflow:hidden}}
#wrap main>article{display:flex}
.dataSave{pointer-events:visible !important}
/* 5,6학년 수학 하단 툴바 */
.drawTool {
  display: flex;
  align-items: flex-end;
  padding-left: 80px;
}
/* 굵기 */
.drawTool .thickness {cursor: pointer; width: 75px; height: 85px; text-indent: -9999px;}
/* 색상 */
.drawTool .color {cursor: pointer; width: 59px; height: 100px; margin-left: 20px; text-indent: -9999px;}
/* 지우개 */
.drawTool .eraser {cursor: pointer; width: 60px; height: 90px; margin-left: 23px; text-indent: -9999px;}
/* 모두지우기 */
.drawTool [data-all-remove] {cursor: pointer; width: 83px; height: 90px; margin-left: 23px; text-indent: -9999px;}
/* 이전 */
.drawTool [data-prev] {cursor: pointer; width: 125px; height: 100px; margin-left: 8px; text-indent: -9999px; background-image: url(../images/btn_pre.png);}
/* 다음 */
.drawTool [data-next] {cursor: pointer; width: 125px; height: 100px; text-indent: -9999px; background-image: url(../images/btn_next.png);}
.drawTool [data-prev].off,
.drawTool [data-next].off {filter: grayscale(100%);}
/* 밑그림 */
.drawTool .background {
  cursor: pointer; width: 110px; height: 68px; margin-bottom: 0; margin-left: 16px; 
  text-indent: -9999px;
  background-image: url(../images/btn_sketch.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.drawTool .background.off {filter: grayscale(100%);}
/* 친구 답안 */
.drawTool .drawTipBtn {cursor: pointer; width: 116px; height: 60px; margin-bottom: 9px; margin-left: 9px; text-indent: -9999px;}
/* 임시 저장 */
.drawTool .temporaryBtn {cursor: pointer; width: 116px; height: 60px; margin-bottom: 9px; margin-left: 18px; text-indent: -9999px;}
/* 다 했어요! */
.drawTool .dataSave {cursor: pointer; width: 116px; height: 60px; margin-bottom: 9px; margin-left: 10px; text-indent: -9999px;}

/* 색상 팔렛트 */
.drawMenuBox02 .pen_palette {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 130px;
  padding: 17px 20px 34px 17px;
}
.drawMenuBox02 [data-drawing-tool="pen"] {
  height: 32px;
  width: 32px;
  margin: 3px 4px;
  position: relative;
}
.drawMenuBox02 [data-drawing-tool="pen"].select::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 21px;
  background-image: url(../images/select_color.png);
  top: 6px;
  left: 5px;
}

/* 두께 */
#thicknessHandler {
  background-color: #000000;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  left: 28px;
  top: 54px;
  border: 2px solid #fff;
  box-shadow: 2px 3px 6px 1px #0000006b;
}

main {
  padding-top: 70px;
}
main > article {
  display: flex;
  justify-content: center;
}

/* 친구 답안 */
.drawTipPop {
  position:absolute; 
  top:0; 
  left:0;
  width:100%;
  height:100%; 
  z-index:5; 
  background-color: rgba(0,0,0,0.7);
  background-image: url(../images/hint_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.drawTipCon{
  position:absolute; 
  top:50%; 
  left:50%; 
  width: 1050px; 
  height: 620px; 
  margin:-290px 0 0 -525px; 
  background-position:center; 
  background-size: auto; 
  background-repeat:no-repeat;
  overflow: hidden;
  border-radius: 30px;
}
.drawTipTitle {  
  position:absolute; 
  background-image: url(../images/hint_title.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 282px;
  height: 68px;
  left: 50%; 
  top: 141px;
  margin-left: -567px;
}
.drawTipCloseBtn {  
  position:absolute; 
  background-image: url(../images/hint_close.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 68px;
  height: 67px;
  text-indent: -9999px;
  left: 50%; 
  top: 143px;
  margin-left: 467px;
}

/* 임시저장 */
.temporary {
  position:absolute; 
  top:0; 
  left:0;
  width:100%;
  height:100%; 
  z-index:5; 
  background-color:rgba(0,0,0,0.7);
  background-image: url(../images/pop_temporary.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.temporary .drawClose {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 212px;
  left: 50%;
  margin-left: 257px;
  text-indent: -9999px;
}

/* 타이틀 */
#define_title {
  position: absolute;
  z-index: 2;
}

#define_title.define {
  background-image: url(../images/title_define.png);
  width: 380px;
  height: 76px;
  top: 90px;
  left: 50%;
  margin-left: -630px;
}

#define_title.quiz {
  background-image: url(../images/title_quiz.png);
  width: 380px;
  height: 76px;
  top: 90px;
  left: 50%;
  margin-left: -630px;
}

/* 저장팝업 다했어요 */
.save_popup {
  position:absolute; 
  top:0; 
  left:0;
  width:100%;
  height:100%; 
  z-index:5; 
  background-color:rgba(0,0,0,0.7);
  background-image: url(../images/pop_big.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.save_popup .drawClose {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 152px;
  left: 50%;
  margin-left: 361px;
  text-indent: -9999px;
}

.boxWrap {
  display: flex;
  position: relative;
  width: 753px;
  height: 235px;
  margin: 30px auto 0;
}

.boxWrap > div {
  width: 241px;
  height: 235px;
  margin: 0 5px;  
  background-image: url(../images/bogi_empty.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.boxWrap .on .save_img {
  border: 3px solid #b3b38e;
  border-radius: 15px;
  width: 210px;
  height: 122px;
  margin: 15px auto 0;
  box-shadow: inset 2px 2px 6px 1px rgba(0,0,0, 0.35);
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-color: #fff;
}

.boxWrap > .bogiBox1.on {  
  background-image: url(../images/bogi_01.png);
}

.boxWrap > .bogiBox2.on {
  background-image: url(../images/bogi_02.png);
}

.boxWrap > .bogiBox3.on {
  background-image: url(../images/bogi_03.png);
}

.boxWrap .btn_bogi {
  width: 147px;
  height: 63px;
  text-indent: -9999px;
  position: absolute;
  top: 152px;
  left: 45px;
}

.save_popup .save_title {
  width: 546px;
  height: 118px;
  background-image: url(../images/msg_save_complet.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin: 217px auto 0;
}

.save_popup.full .save_title {
  background-image: url(../images/msg_save_full.png);
}

/* 경고창 디자인 */
.alert {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert .alertClose {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 212px;
  left: 50%;
  margin-left: 258px;
  text-indent: -9999px;
}

/* 보기 팝업 */
#save_select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-repeat: no-repeat;
  background-position: center center;
}

#select_btn_delete{
  position: absolute;
  top: 127px;
  left: 50%;
  margin-left: 355px;
}

#save_select .selectPopClose {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 127px;
  left: 50%;
  margin-left: 503px;
  text-indent: -9999px;
}

#save_select .selectDeleteBtn {  
  width: 127px;
  height: 64px;
  position: absolute;
  top: 127px;
  left: 50%;
  margin-left: 355px;
  text-indent: -9999px;
}

/* 삭제 팝업 */
#save_delete{  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.7);
  z-index: 7;
  background-image: url(../images/pop_delete.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#save_delete .deletePopYes,
#save_delete .deletePopNo {
  width: 136px;
  height: 64px;
  position: absolute;
  top: 412px;
  left: 50%;
  margin-left: 13px;
  text-indent: -9999px;
}

#save_delete .deletePopYes {
  margin-left: -148px;
}

#save_delete .deletePopClose {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 212px;
  left: 50%;
  margin-left: 258px;
  text-indent: -9999px;
}

#save_select .img {
  width: 1208px;
  height: 705px;
  overflow: hidden;
}

/* 펜 컬러 */
.color {position: relative;}
.color::after {
  content: '';
  width: 36px;
  height: 26px;
  background-image: url(../images/pen_color.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 11px;
}
.color.cf2f2f2::after { background-position: 0 0; }
.color.ce70d13::after { background-position: -46px 0; }
.color.cf777b4::after { background-position: -92px 0; }
.color.cf96263::after { background-position: -138px 0; }
.color.cff6c00::after { background-position: -184px 0; }
.color.cffba00::after { background-position: -230px 0; }
.color.c4eba04::after { background-position: -276px 0; }
.color.c029595::after { background-position: -322px 0; }
.color.c00b6e2::after { background-position: -368px 0; }

.color.c030000::after { background-position: 0 -36px; }
.color.c1f3598::after { background-position: -46px -36px; }
.color.c9867e4::after { background-position: -92px -36px; }
.color.c6e3ac1::after { background-position: -138px -36px; }
.color.cac1171::after { background-position: -184px -36px; }
.color.cedcc85::after { background-position: -230px -36px; }
.color.c966035::after { background-position: -276px -36px; }
.color.c451405::after { background-position: -322px -36px; }
.color.c999999::after { background-position: -368px -36px; }