.player {
  background: url(./player.png) no-repeat;
  background-size: 300px 200px;
}
.video_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
}
.video_player .header_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  z-index: 99999;
  display: none;
}
.video_player .header_bar.on {
  display: block;
}
.video_player .header_bar > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c2d32;
  opacity: 0.9;
}
.video_player .header_bar.off {
  height: 0;
  transition: all 200ms;
}

.video_player video {
  position: relative;
}
.video_player > .video_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
.video_player > .video_screen.lock,
.video_player > .video_box.lock {
  padding-bottom: 70px;
}
.video_player > .video_box > .pause_box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  display: none;
}
.video_player.pause > .video_box > .pause_box > .pause_shadow {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.video_player.pause > .video_box > .pause_box {
  display: block;
}
.video_player.pause > .video_box > .pause_box > a.pause_play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 156px;
  height: 156px;
  margin: -78px 0 0 -78px;
  background: url(./btn_play.png) no-repeat 0 0;
  background-size: 100% 100%;
  color: rgba(0, 0, 0, 0);
  filter: brightness(0.9);
}
.video_player.pause > .video_box > .pause_box > a.pause_play.off {
  display: none;
}
.video_player.pause > .video_box > .pause_box > a.replay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 147px;
  height: 105px;
  background-position: -134px -41px;
  color: rgba(0, 0, 0, 0);
  margin: -52px 0 0 -67px;
  filter: brightness(0.9);
  display: none;
}
.video_player.pause > .video_box > .pause_box > a.replay.on {
  display: block;
}
.video_player > .video_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.video_player .tool_box {
  position: absolute;
  bottom: 0;
  /*width: 1172px;*/
  width: 100%;
  height: 70px;
  z-index: 60;
  overflow: visible;
  touch-action: none;
}
.video_player .tool_box.off {
  left: 0;
  width: 100%;
  height: 0px;
  margin-left: 0;
  overflow: hidden;
}
.video_player .video_box.is_fullscreen .tool_box.off {
  left: 0;
  width: 100%;
  margin-left: 0;
}
.video_player span.tool_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #2c2d32;
  z-index: 59;
}
.video_player span.tool_bg.off {
  height: 0;
  opacity: 0;
}
.tool_box > a {
  position: absolute;
  top: 50%;
  z-index: 10;
  text-indent: -2000px;
  cursor: pointer;
}
.tool_box a.play {
  left: 36px;
  width: 52px;
  height: 44px;
  margin-top: -22px;
  overflow: hidden;
  touch-action: none;
}
.tool_box a.play span {
  display: block;
  width: 41px;
  height: 44px;
  margin: 0 3px;
  background-position: 0 0;
  text-indent: -60px;
  color: rgba(0, 0, 0, 0);
}
.tool_box span.video_replay {
  left: 74px;
  width: 52px;
  height: 54px;
  margin-top: -27px;
  background: url(../image/player/icon_replay.png) no-repeat;
}
.tool_box.off span.video_play,
.tool_box.off span.video_fullscreen,
.tool_box.off span.video_speaker,
.tool_box.off div.video_timer,
.tool_box.off .timeline .progress_btn,
.tool_box.off .volumeline,
.tool_box.off div.video_timer.on {
  opacity: 0;
}
.video_player.play > .video_box > .tool_box > .play > span {
  background-position: -42px 0;
}
.tool_box span.video_fullscreen {
  right: 96px;
  width: 38px;
  height: 38px;
  margin-top: -19px;
  background: url(../image/player/icon_fullscreen_on.png) no-repeat;
}
.tool_box span.video_fullscreen.on {
  background: url(../image/player/icon_fullscreen_off.png) no-repeat;
}
.tool_box span.video_speaker {
  right: 15px;
  width: 56px;
  height: 42px;
  margin-top: -21px;
  background: url(../image/player/icon_speaker.png) no-repeat 0 0;
}
.tool_box span.video_speaker.on {
  background-position: 100% 0;
}
.tool_box div.video_timer {
  position: absolute;
  top: 50%;
  right: 330px;
  color: #fff;
  font-size: 18px;
  margin-top: -11px;
  z-index: 20;
}
.tool_box div.video_timer span {
  font-family: 'NanumSquare', 'Nanum Gothic', dotum, sans-serif;
  font-weight: 400;
}
.tool_box div.video_timer.on {
  opacity: 1;
}
.video_box .tool_box div.timeline {
  position: absolute;
  top: 50%;
  left: 102px;
  color: #fff;
  width: 600px;
  height: 17px;
  border: 3px solid #120605;
  border-radius: 10px;
  background: #828384;
  margin-top: -9px;
  z-index: 20;
  cursor: pointer;
  touch-action: none;
}
.video_box .tool_box.off div.timeline {
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  margin-top: 0;
}
.tool_box div.timeline span.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;
  border-radius: 6px;
  background: #555557;
  border: 3px solid #7f8081;
}
.tool_box .timeline .buffer {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: #fff;
  -webkt-transition: width 250ms;
  transition: width 250ms;
  opacity: 0.2;
}
.tool_box .timeline .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffcc00;
  border-radius: 6px;
}
.tool_box .timeline .progress {
  -webkt-transition: width 100ms;
  transition: width 100ms;
}
.tool_box.off .timeline .progress {
  border-radius: 0;
}
.tool_box div.timeline.dragging div.progress {
  -webkt-transition: none;
  transition: none;
}
.tool_box .timeline .progress_btn {
  position: absolute;
  top: -12px;
  right: -18px;
  width: 34px;
  height: 34px;
  -webkt-transition: width 100ms;
  transition: width 100ms;
}

.tool_box .timeline .progress_btn.player {
  background-position: -83px 0;
}
.tool_box .timeline.dragging .progress_btn {
  -webkt-transition: none;
  transition: none;
}
.tool_box .timeline .progress_btn.blur {
  opacity: 0;
}
/*volume*/
.tool_box .volumeline {
  position: absolute;
  top: 50%;
  right: 190px;
  color: #fff;
  width: 113px;
  height: 17px;
  border: 3px solid #120605;
  border-radius: 10px;
  background: #828384;
  margin-top: -9px;
  z-index: 20;
  cursor: pointer;
  touch-action: none;
}
.tool_box .volumeline .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;
  border-radius: 6px;
  background: #555557;
  border: 3px solid #7f8081;
}

.tool_box .volumeline > .volume_progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: #fff;
  border-radius: 6px;
}
.tool_box .volumeline > .volume_progress {
  -webkt-transition: width 100ms;
  transition: width 100ms;
}

.tool_box .volumeline.dragging > .volume_progress {
  -webkt-transition: none;
  transition: none;
}
.tool_box .volumeline > .volume_progress > .volume_progress_btn {
  position: absolute;
  top: -12px;
  right: -18px;
  width: 34px;
  height: 34px;
  -webkt-transition: width 100ms;
  transition: width 100ms;
}
.tool_box .volumeline .volume_progress_btn.player {
  background-position: -124px 0;
}
.tool_box .volumeline .volume_progress_btn.mute {
  background-position: -165px 0;
}
.tool_box .volumeline.dragging .volume_progress_btn {
  -webkt-transition: none;
  transition: none;
}
.tool_box .volumeline .volume_progress_btn.blur {
  opacity: 0;
}
/**/
.tool_box > .volume_speed_box {
  position: absolute;
  right: 31px;
  bottom: 5px;
  width: 130px;
  height: 60px;
  padding: 6px;
  background: #2c2d32;
  border-radius: 25px;
}
.tool_box > .volume_speed_box.on {
  height: 156px;
}
.volume_speed_box > .speed_list {
  position: relative;
  display: none;
}
.volume_speed_box.on > .speed_list {
  display: block;
}
.speed_item {
  position: relative;
  display: block;
  height: 41px;
  border-radius: 22px;
  background: #fff;
  padding: 0 0 0 27px;
  text-align: center;
  overflow: hidden;
  font-family: 'NanumSquare', 'Nanum Gothic', dotum, sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #828384;
  line-height: 41px;
}
.volume_speed_box.on > .speed_list li {
  margin-top: 9px;
}
.volume_speed_box > .speed_list li:first-child {
  margin-top: 0;
}
.volume_speed_box > .speed_list li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #efefef;
  border-radius: 22px;
  content: '';
}
.volume_speed_box > .speed_list li.on {
  color: #000;
  background: #ffcc00;
}
.volume_speed_box > .speed_list li.on::after {
  border: 0;
}
.speed_item > span {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background: #2c2d32;
  border-radius: 32px;
  color: #fff;
  font-size: 12px;
  font-family: 'NanumSquare', 'Nanum Gothic', dotum, sans-serif;
  line-height: 32px;
}
.volume_speed_box > .selected_volume {
  position: absolute;
  left: 6px;
  bottom: 9px;
  width: 118px;
  color: #000;
  background: #828384;
}
.video_player.ready > .video_box > .tool_bg {
  display: none;
}
.video_player.ready > .video_box > .tool_box {
  display: none;
}
.video_player span.video_fullscreen {
  display: none;
}
#movie_close {
  position: absolute;
  top: 25px;
  right: 14px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  background: url(../image/player/btn_close.png) no-repeat 0 0;
  background-size: 100% 100%;
  z-index: 300;
  cursor: pointer;
}
.player_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  border: 6px solid rgba(0, 0, 0, 0);
  border-right-color: #f2c182;
  border-top-color: #f2c182;
  border-radius: 100%;
  margin: -60px 0 0 -50px;
  -webkit-animation: spin 800ms infinite linear;
  animation: spin 800ms infinite linear;
  display: none;
}
.player_loading.on {
  display: block;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/** 디자인 변경 **/
.video_player .video_screen,
.video_player .pause_shadow,
.video_player .video {
  border-radius: 20px !important;
}
.video_player .video_screen {
  background-color: #ffffff;
}
.video_player .tool_bg {
  border-radius: 20px;
}
.video_box .tool_box.off div.timeline {
  /* display: none; */
  width: 96%;
  left: 50%;
  transform: translate(-50%, 0%);
}
