@charset "utf-8";

/* activity game1 */
.cardWrapper .back{
    font-size:27px;
}
.cardWrapper.ko .back{
    font-size:35px;
}

/* activity game2 */
#game2 .drag-item {
    position:absolute;
    top:0;
    left:0;
    width: 618px;
    height: 84px;
    cursor:pointer;
}
#game2 .drag-item.active {
    cursor:default;
}
#game2.finish .drag-item {
    z-index:0;
    cursor:default;
}
#game2 .drag-item .area {
    position: absolute;
    display:block;
    width:100%;
    height:100%;
    background: rgba(0,0,255,0);
}

#game2 .drag-item:nth-child(1) {
    transform:translate3d(569px,180px,0);
    -webkit-transform:translate3d(569px,180px,0);
}
#game2 .drag-item:nth-child(2) {
    transform:translate3d(569px,290px,0);
    -webkit-transform:translate3d(569px,290px,0);
}
#game2 .drag-item:nth-child(3) {
    transform:translate3d(569px,400px,0);
    -webkit-transform:translate3d(569px,400px,0);
}
#game2 .drag-item:nth-child(4) {
    transform:translate3d(569px,510px,0);
    -webkit-transform:translate3d(569px,510px,0);
}
#game2 .drag-item:nth-child(5) {
    transform:translate3d(569px,620px,0);
    -webkit-transform:translate3d(569px,620px,0);
}
#game2 .drag-item::before {
    content:"";
    position: absolute;
    width: 640px;
    height: 84px;
    left: 0px;
    top: 0px;
    background:url("../images/drag_right_bg01.png") no-repeat;
    z-index: -1;
}
#game2 .drag-item:nth-child(2)::before {
    width: 618px;
    height: 107px;
    left: 0px;
    top: -23px;
    background:url("../images/drag_right_bg02.png") no-repeat;
}
#game2 .drag-item:nth-child(3)::before {
    width: 618px;
    height: 84px;
    left: 0px;
    top: 0px;
    background:url("../images/drag_right_bg03.png") no-repeat;
}
#game2 .drag-item:nth-child(4)::before {
    width: 618px;
    height: 106px;
    left: 0px;
    top: 0px;
    background:url("../images/drag_right_bg04.png") no-repeat;
}
#game2 .drag-item:nth-child(5)::before {
    width: 618px;
    height: 84px;
    left: 0px;
    top: 0px;
    background:url("../images/drag_right_bg05.png") no-repeat;
}
#game2 .drag-area {
    position:absolute;
    top:0;
    left:0;
    width:289px;
    height:84px;
    cursor:pointer;
}
#game2 .drag-area.active {
    cursor:default;
}
#game2.finish .drag-area {
    z-index:0;
    cursor:default;
}
#game2 .drag-area .area {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,255,0);
}
#game2 .drag-area:nth-child(1) {
    transform:translate3d(93px,180px,0);
    -webkit-transform:translate3d(93px,180px,0);
}
#game2 .drag-area:nth-child(2) {
    transform:translate3d(93px,290px,0);
    -webkit-transform:translate3d(93px,290px,0);
}
#game2 .drag-area:nth-child(3) {
    transform:translate3d(93px,400px,0);
    -webkit-transform:translate3d(93px,400px,0);
}
#game2 .drag-area:nth-child(4) {
    transform:translate3d(93px,510px,0);
    -webkit-transform:translate3d(93px,510px,0);
}
#game2 .drag-area:nth-child(5) {
    transform:translate3d(93px,620px,0);
    -webkit-transform:translate3d(93px,620px,0);
}
#game2 .drag-area::before {
    content:"";
    position: absolute;
    width: 289px;
    height: 103px;
    left: 0px;
    top: -19px;
    background:url("../images/drag_left_bg01.png") no-repeat;
    z-index: -1;
}
#game2 .drag-area:nth-child(2)::before {
    width: 309px;
    height: 84px;
    left: -19px;
    top: 0px;
    background:url("../images/drag_left_bg02.png") no-repeat;
}
#game2 .drag-area:nth-child(3)::before {
    width: 289px;
    height: 84px;
    left: 0px;
    top: 0px;
    background:url("../images/drag_left_bg03.png") no-repeat;
}
#game2 .drag-area:nth-child(4)::before {
    width: 289px;
    height: 103px;
    left: 0px;
    top: -19px;
    background:url("../images/drag_left_bg04.png") no-repeat;
}
#game2 .drag-area:nth-child(5)::before {
    width: 309px;
    height: 84px;
    left: -20px;
    top: 0px;
    background:url("../images/drag_left_bg05.png") no-repeat;
}

.activity .game-drag .bg-shadow
{
    position: absolute;
    width:20px;
    height:84px;
    left:0;
    top:0;
    background: url('../images/drag_bg_shadow.png') no-repeat;
    z-index:11;
    display: none;
}
